<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="UTF-8">
<title>Rotutee</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/621489de5f.js" crossorigin="anonymous"></script>

<!-- W3School Side bar -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- font tamily -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<style>
    .imgdiv {
        width: 400px;
        height: 200px;
        background-color: pink;
    }

    .listBtn {
        border: none;
        background-color: #7DACE4;
    }

    .offcanvas-body {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px;
    }

    .category:hover {
        background-color: #d3e1f3;
    }
    .group1 {
        background-color: #d3e1f3;
    }
</style>

<body>
<nav class="navbar navbar-expand-lg" style="background-color: #7DACE4;">
    <div class="container-fluid">
        <button class="listBtn" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                aria-controls="offcanvasScrolling">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>

        <a class="navbar-brand text-light fs-3 fw-bold" href="/" style="display: contents;">
            <img th:src="@{/common/image/} + 'rotutee.png'" style="width: 40px; height: 45px; margin-right: 10px;">ROTUTEE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-50 ms-auto">
                <form class="me-3 w-50 m-auto position-relative" action="/lecture/search" method="get">
                    <input type="hidden" name="searchCondition" value="1">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="searchValue">
                    <div class="searchbar-icon">
                        <button type="submit" style="background-color: transparent; border: none;"></button>
                    </div>
                </form>

                <li class="nav-item ">
                    <a class="nav-link text-light" href="/lecture/list">강의</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        커뮤니티
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-megaphone" viewBox="0 0 16 16">
                                <path
                                        d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z" />
                            </svg>
                            공지사항</a></li>
                        <li><a class="dropdown-item" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-chat-dots" viewBox="0 0 16 16">
                                <path
                                        d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                <path
                                        d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z" />
                            </svg>
                            자유게시판</a></li>
                        <li><a class="dropdown-item" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-question-square" viewBox="0 0 16 16">
                                <path
                                        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path
                                        d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                            </svg>
                            질문답변</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display: contents;">
                <th:block sec:authorize="hasAnyRole('TUTEE','TUTOR')">
                    <li class="pe-4 text-light opacity-50">
                        <a href="/basket/list">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-cart-fill" viewBox="0 0 16 16" id="cart">
                                <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg></a>
                    </li>
                    <li class="pe-5 text-light opacity-50">
                        <a href="/notice/list">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-bell-fill" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                            </svg></a>
                    </li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item dropdown">
                        <div class="d-flex">
                            <div class="profile">
                                <img class="profileimg" src="image/logo/profileimg.jpeg">
                            </div>
                        </div>

                    <li class="nav-item dropdown me-5">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown2" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <span sec:authentication="principal.nickname"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <li><a sec:authorize="hasRole('TUTEE')" class="dropdown-item"
                                   href="/dashboard/tuteedashboard">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor" class="bi bi-house-heart" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207l-5-5-5 5V13.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7.207Zm-5-.225C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z" />
                                </svg>
                                마이페이지</a></li>
                            <a sec:authorize="hasRole('TUTOR')" class="dropdown-item"
                               href="/dashboard/tutordashboard">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-house-heart" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207l-5-5-5 5V13.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7.207Zm-5-.225C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z" />
                                </svg>
                                마이페이지</a>
                            </li>
                            <li><a class="dropdown-item" href="/member/logout">
                                <i class="bi bi-door-closed"></i>
                                로그아웃</a></li>
                        </ul>
                    </li>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <div><button onclick="location.href='/member/login'">로그인</button> </div>
                </th:block>
            </ul>
        </div>
    </div>
</nav>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="sidebar"
     aria-labelledby="offcanvasScrollingLabel" style="width: 13%;">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
            style="position: absolute; right: 0; margin-top: 20px;"></button>
    <div class="offcanvas-header">
        <!-- Sidebar -->
        <h3 class="w3-bar-item">MyPage</h3>

    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <div class="sidebar-menu">
                    <a href="/dashboard/tutordashboard" class="w3-bar-item w3-button category">대시보드</a>
                </div>
                <div class="sidebar-menu">
                    <a href="/notice/list" class="w3-bar-item w3-button category">알림</a>
                </div>
                <div class="sidebar-menu">
                    <a href="/mylecture/tutorlist/" class="w3-bar-item w3-button category">나의 강의</a>
                </div>
                <div class="sidebar-menu">
                    <a href="/dahsboard/mypost" class="w3-bar-item w3-button category">작성 게시글</a>
                </div>
                <div class="sidebar-menu">
                    <a href="/member/myfiles" class="w3-bar-item w3-button category">서류함</a>
                </div>
                <div class="sidebar-menu">
                    <button class="w3-button w3-block w3-left-align" onclick="myAccFunc()">
                        강의관리 <i class="fa fa-caret-down"></i>
                    </button>
                    <div id="demoAcc" class="w3-hide w3-white w3-card">
                        <div>
                            <a href="/request/lecture" class="w3-bar-item w3-button">강의신청</a>
                        </div>
                        <div>
                            <a href="/request/list" class="w3-bar-item w3-button">강의 신청 내역</a>
                        </div>
<!--                        <div>-->
<!--                            <a href="#" class="w3-bar-item w3-button">강의 수정 신청</a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="#" class="w3-bar-item w3-button">강의평 조회</a>-->
<!--                        </div>-->
                    </div>
                </div>
                <div class="sidebar-menu">
                    <button class="w3-button w3-block w3-left-align" onclick="myAccFunc2()">
                        설정 <i class="fa fa-caret-down"></i>
                    </button>
                    <div id="demoAcc2" class="w3-hide w3-white w3-card">
                        <div>
                            <a href="#" class="w3-bar-item w3-button">프로필</a>
                        </div>
                        <div>
                            <a href="#" class="w3-bar-item w3-button">정산내역</a>
                        </div>
                        <div>
                            <a href="#" class="w3-bar-item w3-button">업적확인</a>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    function myAccFunc() {

        var x = document.getElementById("demoAcc");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " group1";
        } else {
            x.className = x.className.replace(" w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" group1", "");
        }

    }

    function myAccFunc2() {
        var x = document.getElementById("demoAcc2");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " group1";
        } else {
            x.className = x.className.replace(" w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" group1", "");
        }
    }
</script>
</body>

</html>