<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../common/css/common.css">
    <link rel="stylesheet" href="../hg/css/coupon.css">
</head>
<body>

<header>
    <div th:include="/common/topMenubar.html"></div>
</header>
<main>
    <div class="d-flex">
        <div>
            <div th:include="/common/adminSideMenuBar.html"></div>
        </div>

        <div class="coupon-content">
            <div>
                <h2 class="fs-3">쿠폰 목록</h2>
            </div>

            <hr>

            <ul class="d-flex">
                <li>
                    <button class="btn" data-bs-toggle="modal"
                            data-bs-target="#couponRegistModal">쿠폰등록
                    </button>
                </li>
                <li>
                    <button class="btn" type="button" onclick="couponRemove()">쿠폰삭제</button>
                </li>
                <li>
                    <button class="btn" data-bs-toggle="modal"
                            data-bs-target="#couponPublishModal" onclick="publishCouponList()">쿠폰발행
                    </button>
                </li>
            </ul>

            <table class="table table-hover">
                <thead>
                <td>선택</td>
                <td>쿠폰명</td>
                <td>쿠폰내용</td>
                <td>쿠폰등록일자</td>
                <td>할인률</td>
                <td>사용기간</td>
                <td></td>
                </thead>

                <tbody>
                <tr th:each="coupon:${couponList}" id="couponList">
                    <td>
                        <input id="couponNo" name="couponNo" type="checkbox" th:value="${coupon.couponNo}">
                    </td>
                    <td th:text="${coupon.couponName}"></td>
                    <td th:text="${coupon.couponContent}"></td>
                    <td th:text="${coupon.couponRegistDate}"></td>
                    <td th:text="${coupon.discountRate}"></td>
                    <td th:text="${coupon.expirationDate}"></td>
                    <td>
                        <button type="button" class="btn" data-bs-toggle="modal"
                                data-bs-target="#couponModifyModal" name="couponModifyButton" )>쿠폰변경
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>


<!-- Modal -->
<div class="modal fade" id="couponRegistModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h2>쿠폰 등록</h2>
            </div>

            <div class="modal-body">
                <form action="/coupon/regist" method="post" id="couponRegistForm">
                    <div class="d-flex flex-md-column">

                        <div class="col-md-6 shadow-sm mb-md-3 w-100">
                            <label class="fw-bold">쿠폰명</label>
                            <div class="d-flex">
                                <input class="tag-input w-100" type="text" name="couponName">
                            </div>
                        </div>

                        <div class="col-md-6 shadow-sm mb-md-3 w-100">
                            <label class="fw-bold">쿠폰내용</label>
                            <div class="d-flex">
                                <input class="tag-input w-100" type="text" name="couponContent">
                            </div>
                        </div>

                        <div class="col-md-12 shadow-sm mb-md-3 w-100">
                            <label class="fw-bold">할인율</label>
                            <div class="d-flex">
                                <input class="tag-input w-100" type="text" name="discountRate">
                            </div>
                        </div>

                        <div class="col-md-12 shadow-sm mb-md-3  w-100">
                            <label class="fw-bold">만료기한</label>
                            <div class="d-flex">
                                <input class="tag-input w-100" type="text" name="expirationDate">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="d-flex">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">
                        취소
                    </button>
                    <button type="submit" class="btn btn-outline-primary" form="couponRegistForm">
                        등록
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="couponModifyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h2>쿠폰변경</h2>
            </div>

            <div class="modal-body">
                <form action="/coupon/modify" method="post" id="couponModifyForm">
                    <div class="d-flex flex-md-column">

                        <div class="col-md-6 shadow-sm mb-md-3 w-100">
                            <label class="fw-bold">쿠폰명</label>
                            <div class="d-flex">
                                <input type="hidden" id="modifyCouponNo" val="" name="couponNo">
                                <input class="tag-input w-100" type="text" id="modifyCouponName" name="couponName">
                            </div>
                        </div>

                        <div class="col-md-6 shadow-sm mb-md-3 w-100">
                            <label class="fw-bold">쿠폰내용</label>
                            <div class="d-flex">
                                <input class="tag-input w-100" type="text" id="modifyCouponContent"
                                       name="couponContent">
                            </div>
                        </div>

                        <div class="col-md-12 shadow-sm mb-md-3 w-100">
                            <label class="fw-bold">할인율</label>
                            <div class="d-flex">
                                <input class="tag-input w-100" type="text" id="modifyDiscountRate" name="discountRate">
                            </div>
                        </div>

                        <div class="col-md-12 shadow-sm mb-md-3  w-100">
                            <label class="fw-bold">만료기한</label>
                            <div class="d-flex">
                                <input class="tag-input w-100" type="text" id="modifyExpirationDate"
                                       name="expirationDate">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="d-flex">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">
                        취소
                    </button>
                    <button type="submit" class="btn btn-outline-primary" form="couponModifyForm">
                        등록
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="couponPublishModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header">
                <h2>쿠폰변경</h2>
            </div>

            <div class="modal-body">
                <form action="/coupon/publish" method="post" id="couponPublishForm">
                    <div>
                        <button>회원전체 발행</button>
                        <button>개인회원 발행</button>
                    </div>
                    <ul id="publishCouponList"></ul>
                </form>
            </div>

            <div class="modal-footer">
                <div class="d-flex">

                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">
                        취소
                    </button>
                    <button type="submit" class="btn btn-outline-primary" form="couponPublishForm">
                        발행
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script>
    function couponRemove() {

        let couponArray = [];

        $("input:checkbox[name=couponNo]:checked").each(function () {

            couponArray.push(($(this).val()));

            console.log(couponArray);
        });


        $.ajax({
            url: "/coupon/remove",
            type: "post",
            data: {"couponArray": couponArray},
            success: function (data) {
                alert("성공");

                if ($("input:checkbox[name=couponNo]:checked")) {
                    $("input:checkbox[name=couponNo]:checked").each(function () {
                        $(this).closest("tr").remove();
                    });
                }

            },
            error: function (data) {
                alert("실패");

            }
        });
    };


    $("button[name=couponModifyButton]").on("click", function () {

        const thisRow = $(this).closest("tr");
        const couponNo = thisRow.find("td:eq(0)").find("input").val();
        const couponName = thisRow.find("td:eq(1)").html();
        const couponContent = thisRow.find("td:eq(2)").html();
        const couponDiscountRate = thisRow.find("td:eq(4)").html();
        const couponExpirationDate = thisRow.find("td:eq(5)").html();

        $("#modifyCouponNo").val(couponNo);
        $("#modifyCouponName").val(couponName);
        $("#modifyCouponContent").val(couponContent);
        $("#modifyDiscountRate").val(couponDiscountRate);
        $("#modifyExpirationDate").val(couponExpirationDate);

    });

    function publishCouponList() {

        const coupons = [];

        $("input:checkbox[name=couponNo]:checked").each(function () {

            const thisRow = $(this).closest("tr");

            const couponNo = thisRow.find("td:eq(0)").find("input").val();
            const couponName = thisRow.find("td:eq(1)").html();

            coupons.push({no: couponNo, name: couponName})

        });

        coupons.map((coupon) => {

            $("#publishCouponList").append("<li class='publish-coupon-item'>" + "<input type='hidden' name='couponNo' value='" + coupon.no + "'>" + coupon.name + "</li>");
        });
    };


</script>
</body>
</html>