<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
    th {
        background-color: #b9bbbe;
    }
</style>
<body>
    <p><h1>튜터 신청서</h1></p>
    <table border="1px">
        <tr>
            <th width="30px" rowspan="2">인적사항</th>
            <th>이름</th>
            <th>이메일</th>
            <th>휴대폰</th>
            <th>주소</th>
        </tr>
        <tr>
            <td width="150px" height="40px" th:text="${ tutorApply.member.name }"></td>
            <td width="200px" th:text="${ tutorApply.member.email }"></td>
            <td width="200px" th:text="${ tutorApply.member.phoneNum }"></td>
        </tr>
    </table>
    <br>
    <button type="button" id="registCareer">추가</button>
    <table border="1px" id="career">
        <tr>
            <th width="30px" rowspan="6">경력사항</th>
            <th colspan="2">근무 기간</th>
            <th>근무처</th>
            <th>직급</th>
            <th>담당업무</th>
        </tr>
        <tr th:each="career : ${ tutorApply.careerList }">
            <td th:text=" ${ career.startDate }"></td>
            <td th:text=" ${ career.endDate }"></td>
            <td th:text=" ${ career.position }"></td>
            <td th:text=" ${ career.company }"></td>
            <td th:text=" ${ career.responsibilities }"></td>
        </tr>
    </table>
    <br>
    <button type="button" id="registQualification">추가</button>
    <table border="1px" id="qualification">
        <tr>
            <th width="30px" rowspan="6">자격사항</th>
            <th>취득 일자</th>
            <th>자격 및 교육명</th>
            <th>등급</th>
        </tr>
        <tr th:each="qualification : ${ tutorApply.qualificationList }">
            <td th:text="${ qualification.acquisitionDate }"></td>
            <td th:text="${ qualification.name }"></td>
            <td th:text="${ qualification.rating }"></td>
        </tr>
    </table>
<script>

</script>
</body>
</html>