<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Rotutee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/sj/lectureregist.css">
</head>
<body>
<div th:include="common/adminsidebar.html"></div>
<main>
    <form action="/request/approve" method="post">
        <input type="hidden" th:value="${lecture.lectureNo}" name="lectureNo" id="lectureNo">
        <div class="container">
            <p style="margin-top: 30px; font-size: x-large;">강의 신청 상세 정보</p>
            <hr>
            <div class="row">
                <div class="col-4">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="info1-tab" data-bs-toggle="tab" data-bs-target="#info1"
                                    type="button" role="tab" aria-controls="info1" aria-selected="true">강의 정보
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="info2-tab" data-bs-toggle="tab" data-bs-target="#info2"
                                    type="button" role="tab" aria-controls="info2" aria-selected="false">상세 소개
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="curriculum-tab" data-bs-toggle="tab" data-bs-target="#curriculum"
                                    type="button" role="tab" aria-controls="curriculum" aria-selected="false">커리큘럼
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="col-8">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="float: right;">
                        <button type="button" class="btn btn-secondary">돌아가기</button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">거절</button>
                        <button type="submit" class="btn btn-success">승인</button>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="info1" role="tabpanel" aria-labelledby="info1-tab">
                    <div class="info1-area">
                        <p style="font-size: x-large; margin-top: 30px; margin-left: 30px;">강의 제목</p>
<!--                        <p style="font-size: small; margin-left: 30px; margin-top: 10px">(강의 제목은 간결하게 정해주세요! 특수문자는 금지됩니다.)</p>-->
                        <input type="text" id="title-input" name="lectureName" placeholder="제목을 입력하세요" th:value="${lecture.lectureName}" readonly>
                        <p style="font-size: x-large; margin-left: 30px; margin-top: 30px;">카테고리</p>
                        <div class="category-buttons-1">
                            <input type="checkbox" class="btn-check" id="btn-category1" autocomplete="off" name="categoryNo"
                                   value="1" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-category1">Python</label>
                            <input type="checkbox" class="btn-check" id="btn-category2" autocomplete="off" name="categoryNo"
                                   value="2" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-category2">JAVA</label>
                            <input type="checkbox" class="btn-check" id="btn-category3" autocomplete="off" name="categoryNo"
                                   value="3" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-category3">Node.js</label>
                            <input type="checkbox" class="btn-check" id="btn-category4" autocomplete="off" name="categoryNo"
                                   value="4" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-category4">Kotlin</label>
                            <input type="checkbox" class="btn-check" id="btn-category5" autocomplete="off" name="categoryNo"
                                   value="5" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-category5">Spring</label>
                            <input type="checkbox" class="btn-check" id="btn-category6" autocomplete="off" name="categoryNo"
                                   value="6" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-category6">DBMS</label>
                        </div>
                        <div class="category-buttons-2">
                            <input type="checkbox" class="btn-check" id="btn-category7" autocomplete="off" name="categoryNo"
                                   value="7" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-category7">JavaScript</label>
                            <input type="checkbox" class="btn-check" id="btn-category8" autocomplete="off" name="categoryNo"
                                   value="8" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-category8">React</label>
                            <input type="checkbox" class="btn-check" id="btn-category9" autocomplete="off" name="categoryNo"
                                   value="9" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-category9">HTML</label>
                            <input type="checkbox" class="btn-check" id="btn-category10" autocomplete="off"
                                   name="categoryNo" value="10" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-category10">CSS</label>
                            <input type="checkbox" class="btn-check" id="btn-category11" autocomplete="off"
                                   name="categoryNo" value="11" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-category11">Swift</label>
                            <input type="checkbox" class="btn-check" id="btn-category12" autocomplete="off"
                                   name="categoryNo" value="12" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-category12">기타</label>

                        </div>
                        <p style="font-size: x-large; margin-left: 30px; margin-top: 30px;">강의 수준</p>
                        <div class="lecture-level">
                            <input type="checkbox" class="btn-check" id="btn-level1" autocomplete="off" name="lectureLevel"
                                   value="입문" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-level1">입문</label>
                            <input type="checkbox" class="btn-check" id="btn-level2" autocomplete="off" name="lectureLevel"
                                   value="초급" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-level2">초급</label>
                            <input type="checkbox" class="btn-check" id="btn-level3" autocomplete="off" name="lectureLevel"
                                   value="중급" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-level3">중급</label>
                            <input type="checkbox" class="btn-check" id="btn-level4" autocomplete="off" name="lectureLevel"
                                   value="마스터" onclick="return false">
                            <label class="btn btn-outline-primary" for="btn-level4">마스터</label>
                        </div>
                        <p style="font-size: x-large; margin-left: 30px; margin-top: 30px;">가격 설정</p>
                        <input type="number" placeholder="가격을 입력하세요" id="price-input" name="lecturePrice" min="1000"
                               step="1000" th:value="${lecture.lecturePrice}" readonly>
                        <div class="price-guide">
                            <p><span style="color: red;">주의!</span>가격 설정 후 변경이 불가능합니다.</p>
                            <p>부가세 미포함 가격입니다. 튜티에게는 10% 합산된 가격으로 표시됩니다.</p>
                            <p>가격 측정이 어려울 시 고객센터로 연락주세요</p>
                        </div>
                        <div class="thumbnail-guide">
                            <p>강의 썸네일<span style="color: red;">(필수)</span></p>
                            <p style="margin-top: 20px;">권장크기는 <span style="color: red;">440 X 290, 30mb</span> 이하 입니다.</p>
                            <div class="thumbnail-upload-area">
                                <div>
                                    <th:block th:if="${lecture.imageList.size() >= 1}">
                                        <img th:src="@{/images/thumbnail/} + ${lecture.imageList[0].saveAttachedFileName}" style="width: 440px; height: 290px;">
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <div class="banner-guide">
                            <p>강의 배너<span style="color: red;">(선택)</span></p>
                            <p>메인화면 상단에 보여질 배너입니다. 배너를 업로드 할 시 선호 카테고리에 무작위로 선정되어 보여질 수 있습니다.</p>
                            <p><span style="color: red;">주의!</span> 업로드하지 않을 시 보여지지 않습니다.</p>
                            <p>권장크기는 <span style="color: red;">2000 X 360</span> 입니다.</p>
                            <div class="banner-upload-area">
                                <div>
                                    <th:block th:if="${lecture.imageList.size() >= 2}">
                                        <img th:src="@{/images/banner/} + ${lecture.imageList[1].saveAttachedFileName}" style="width: 440px; height: 290px;">
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="info2" role="tabpanel" aria-labelledby="info2-tab">
                    <div class="info2-area">
                        <p style="margin-left: 30px; margin-top: 50px; font-size: x-large;">상세 소개</p>
                        <p style="margin-left: 30px; margin-top: 30px;">강의 요약(강의 상단에 보여집니다.)</p>
                        <textarea cols="130" rows="10" name="lectureSummary"
                                  style="margin-left: 30px; margin-top: 10px;" th:text="${lecture.lectureSummary}" readonly></textarea>
                        <p style="margin-left: 30px; margin-top: 30px;">강의 상세 내용(강의 상세 내용에 보입니다.)</p>
                        <div id="editor">
                            <textarea cols="130" rows="30" name="lectureDetails"
                                      style="margin-left: 30px; margin-top: 10px;" th:text="${lecture.lectureDetails}" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="curriculum" role="tabpanel" aria-labelledby="curriculum-tab">
                    <div class="curriculum-area">
                        <p style="font-size: x-large; margin-left: 30px; margin-top: 50px;">커리큘럼</p>
                        <div class="chapter-area">
                            <div th:each="chapter:${chapterList}">
                            <div class="chapter" style="border: 1px solid; width: 95%; height: 50px; margin-top: 20px; margin-left: 30px;">
                                <div class="chapter-name">
                                    <input type="text" placeholder="챕터명을 입력하세요" class="chapter-name" name="chapterList['+ index +'].chapterName" th:value="${chapter.chapterName}">
                                </div>
                            </div>
                            <div class="video-quiz">
                                <div class="video-area">
                                    <div class="class-name-area">
                                        <input type="text" class="class-name" name="chapterList['+ index +'].classList[0].className" th:value="${chapter.classList[0].getClassName()}">
                                    </div>
                                    <video controls controlsList="nodownload" style="width: 35vw; height: 35vh; margin-top: 20px; margin-left: 30px;">
                                            <source th:src="@{/video/} + ${chapter.classList[0].videoPath}">
                                        </video>
                                    <div class="quiz-area">
                                        <div class="quiz-title">
                                            <label style="font-size: x-large;">퀴즈 제목</label><input type="text" class="quiztitle" name="chapterList['+ index +'].classList[0].quizList[0].quizProblem" th:value="${chapter.classList[0].quizList[0].quizProblem}">
                                        </div>
                                        <div class="quiz-answer">
                                            <label style="font-size: x-large;">정답</label><input type="text" class="answer" name="chapterList['+ index +'].classList[0].quizList[0].quizAnswer" th:value="${chapter.classList[0].quizList[0].quizAnswer}">
                                        </div>
                                        <div class="example-list">
                                            <label style="font-size: x-large;">보기1</label><input type="text" class="example1" name="chapterList['+ index +'].classList[0].quizList[0].quizOption1" th:value="${chapter.classList[0].quizList[0].quizOption1}">
                                            <br>
                                            <label style="font-size: x-large;">보기2</label><input type="text" class="example2" name="chapterList['+ index +'].classList[0].quizList[0].quizOption2" th:value="${chapter.classList[0].quizList[0].quizOption2}">
                                            <br>
                                            <label style="font-size: x-large;">보기3</label><input type="text" class="example3" name="chapterList['+ index +'].classList[0].quizList[0].quizOption3" th:value="${chapter.classList[0].quizList[0].quizOption3}">
                                            <br>
                                            <label style="font-size: x-large;">보기4</label><input type="text" class="example4" name="chapterList['+ index +'].classList[0].quizList[0].quizOption4" th:value="${chapter.classList[0].quizList[0].quizOption4}">
                                        </div>
                                        <div class="explaination">
                                            <label style="font-size: x-large;">해설</label><input type="text" class="explain" name="chapterList['+ index +'].classList[0].quizList[0].quizAnswerExplain" th:value="${chapter.classList[0].quizList[0].quizAnswerExplain}">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="video-area">
                                    <div class="class-name-area">
                                        <input type="text" placeholder="수업명을 입력하세요" class="class-name" name="chapterList['+ index +'].classList[1].className" th:value="${chapter.classList[1].className}" readonly>
                                    </div>
                                    <video controls controlsList="nodownload" style="width: 35vw; height: 35vh; margin-top: 10px;">
                                        <source th:src="@{/video/} + ${chapter.classList[1].videoPath}">
                                    </video>
                                    <div class="quiz-area">
                                        <div class="quiz-title">
                                            <label style="font-size: x-large;">퀴즈 제목</label><input type="text" class="quiztitle" name="chapterList['+ index +'].classList[1].quizList[0].quizProblem" th:value="${chapter.classList[1].quizList[0].quizProblem}" readonly>
                                        </div>
                                        <div class="quiz-answer">
                                            <label style="font-size: x-large;">정답</label><input type="text" class="answer" name="chapterList['+ index +'].classList[1].quizList[0].quizAnswer" th:value="${chapter.classList[1].quizList[0].quizAnswer}" readonly>
                                        </div>
                                        <div class="example-list">
                                            <label style="font-size: x-large;">보기1</label><input type="text" class="example1" name="chapterList['+ index +'].classList[1].quizList[0].quizOption1" th:value="${chapter.classList[1].quizList[0].quizOption1}" readonly>
                                            <br>
                                            <label style="font-size: x-large;">보기2</label><input type="text" class="example2" name="chapterList['+ index +'].classList[1].quizList[0].quizOption2" th:value="${chapter.classList[1].quizList[0].quizOption2}" readonly>
                                            <br>
                                            <label style="font-size: x-large;">보기3</label><input type="text" class="example3" name="chapterList['+ index +'].classList[1].quizList[0].quizOption3" th:value="${chapter.classList[1].quizList[0].quizOption3}" readonly>
                                            <br>
                                            <label style="font-size: x-large;">보기4</label><input type="text" class="example4" name="chapterList['+ index +'].classList[1].quizList[0].quizOption4" th:value="${chapter.classList[1].quizList[0].quizOption4}" readonly>
                                        </div>
                                        <div class="explaination">
                                            <label style="font-size: x-large;">해설</label><input type="text" class="explain" name="chapterList['+ index +'].classList[1].quizList[0].quizAnswerExplain" th:value="${chapter.classList[1].quizList[0].quizAnswerExplain}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="video-area">
                                    <div class="class-name-area">
                                        <input type="text" placeholder="수업명을 입력하세요" class="class-name" name="chapterList['+ index +'].classList[2].className" th:value="${chapter.classList[2].className}" readonly>
                                    </div>
                                    <video controls controlsList="nodownload" style="width: 35vw; height: 35vh; margin-top: 10px;">
                                        <source th:src="@{/video/} + ${chapter.classList[2].videoPath}">
                                    </video>
                                    <div class="quiz-area">
                                        <div class="quiz-title">
                                            <label style="font-size: x-large;">퀴즈 제목</label><input type="text" class="quiztitle" name="chapterList['+ index +'].classList[2].quizList[0].quizProblem" th:value="${chapter.classList[2].quizList[0].quizProblem}" readonly>
                                        </div>
                                        <div class="quiz-answer">
                                            <label style="font-size: x-large;">정답</label><input type="text" class="answer" name="chapterList['+ index +'].classList[2].quizList[0].quizAnswer" th:value="${chapter.classList[2].quizList[0].quizAnswer}" readonly>
                                        </div>
                                        <div class="example-list">
                                            <label style="font-size: x-large;">보기1</label><input type="text" class="example1" name="chapterList['+ index +'].classList[2].quizList[0].quizOption1" th:value="${chapter.classList[2].quizList[0].quizOption1}" readonly>
                                            <br>
                                            <label style="font-size: x-large;">보기2</label><input type="text" class="example2" name="chapterList['+ index +'].classList[2].quizList[0].quizOption2" th:value="${chapter.classList[2].quizList[0].quizOption2}" readonly>
                                            <br>
                                            <label style="font-size: x-large;">보기3</label><input type="text" class="example3" name="chapterList['+ index +'].classList[2].quizList[0].quizOption3" th:value="${chapter.classList[2].quizList[0].quizOption3}" readonly>
                                            <br>
                                            <label style="font-size: x-large;">보기4</label><input type="text" class="example4" name="chapterList['+ index +'].classList[2].quizList[0].quizOption4" th:value="${chapter.classList[2].quizList[0].quizOption4}" readonly>
                                        </div>
                                        <div class="explaination">
                                            <label style="font-size: x-large;">해설</label><input type="text" class="explain" name="chapterList['+ index +'].classList[2].quizList[0].quizAnswerExplain" th:value="${chapter.classList[2].quizList[0].quizAnswerExplain}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="video-area">
                                    <div class="class-name-area">
                                        <input type="text" placeholder="수업명을 입력하세요" class="class-name" name="chapterList['+ index +'].classList[3].className" th:value="${chapter.classList[3].className}" readonly>
                                    </div>
                                    <video controls controlsList="nodownload" style="width: 35vw; height: 35vh; margin-top: 10px;">
                                        <source th:src="@{/video/} + ${chapter.classList[3].videoPath}">
                                    </video>
                                    <div class="quiz-area">
                                        <div class="quiz-title">
                                            <label style="font-size: x-large;">퀴즈 제목</label><input type="text" class="quiztitle" name="chapterList['+ index +'].classList[3].quizList[0].quizProblem" th:value="${chapter.classList[3].quizList[0].quizProblem}" readonly>
                                        </div>
                                        <div class="quiz-answer">
                                            <label style="font-size: x-large;">정답</label><input type="text" class="answer" name="chapterList['+ index +'].classList[3].quizList[0].quizAnswer" th:value="${chapter.classList[3].quizList[0].quizAnswer}" readonly>
                                        </div>
                                        <div class="example-list">
                                            <label style="font-size: x-large;">보기1</label><input type="text" class="example1" name="chapterList['+ index +'].classList[3].quizList[0].quizOption1" th:value="${chapter.classList[3].quizList[0].quizOption1}" readonly>
                                            <br>
                                            <label style="font-size: x-large;">보기2</label><input type="text" class="example2" name="chapterList['+ index +'].classList[3].quizList[0].quizOption2" th:value="${chapter.classList[3].quizList[0].quizOption2}" readonly>
                                            <br>
                                            <label style="font-size: x-large;">보기3</label><input type="text" class="example3" name="chapterList['+ index +'].classList[3].quizList[0].quizOption3" th:value="${chapter.classList[3].quizList[0].quizOption3}" readonly>
                                            <br>
                                            <label style="font-size: x-large;">보기4</label><input type="text" class="example4" name="chapterList['+ index +'].classList[3].quizList[0].quizOption4" th:value="${chapter.classList[3].quizList[0].quizOption4}" readonly>
                                        </div>
                                        <div class="explaination">
                                            <label style="font-size: x-large;">해설</label><input type="text" class="explain" name="chapterList['+ index +'].classList[3].quizList[0].quizAnswerExplain" th:value="${chapter.classList[3].quizList[0].quizAnswerExplain}" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
<div th:include="common/footer.html"></div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">개설 신청 거절</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select id="rejectionCategory">
                    <option value="1">강의 카테고리 부적합</option>
                    <option value="2">강의 신청 서류 부적합</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger reject">거절</button>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    const lectureCategoryNo = [[${lecture.category.lectureCategoryNo}]]
    console.log(lectureCategoryNo)
    $("input[value=" +lectureCategoryNo +"]").prop("checked", true);
    const level = [[${lecture.lectureLevel}]]
    $("input[value=" +level +"]").prop("checked", true);
</script>
<script>
    $(".reject").click(function () {
        const lectureNo = $("#lectureNo").val();
        const rejectionCategoryNo = $("#rejectionCategory").val();
        location.href = "/request/reject?lectureNo=" + lectureNo + "&rejectionCategoryNo=" + rejectionCategoryNo;
    })
</script>
</body>
</html>
