<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="short icon" href="#">
    <!-- font tamily -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        .header {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 700;
            text-align: center;

        }

        .lecturevideo {

            /*height: 38vh;*/

        }

        .wrap {
            width: 35vw;
            margin: 25px;
        }

        .container {
            display: flex;
        }

        .class-content {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 16px;
            color: #6ba3e7;

        }

        .class-title {
            margin: 10px;
            position: relative;
        }

        .time {
            position: absolute;
            right: 0;
        }

        .tutor-comment {
            margin: 20px;
        }

        .menu {
            display: none;
            font-size: 14px;
            color: rgb(114, 114, 114);
            position: relative;
        }

        .openmenu {
            padding: 10px;
        }

        .top {
            margin: auto;
            font-size: 20px;
            width: 90%;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .quiz-btn {
            font-size: 14px !important;
            font-family: 'Noto Sans KR', sans-serif;
            width: 45px;
            height: 25px;
            padding: 0 !important;

            position: absolute;
            right: 0;

        }

        progress {
            -webkit-appearance: none;
            margin-left: 20px;
        }

        ::-webkit-progress-bar {
            background-color: #E2E2E2;

        }

        ::-webkit-progress-value {
            background-color: #8DB6E7;
        }
        .greenStyle {
            color: #42a834;
        }
        .redStyle {
            color: #ce3131;
        }
    </style>

    <script th:inline="javascript">
        /* 비지니스 로직 성공 alert 메시지 처리 */
        const message = [[${message}]];
        if(message != null && message !== '') {
            alert(message);
        }
    </script>
</head>

<body>
<div th:include="common/lmssidebar.html"></div>
<div class="container">
    <div class="top" style="margin-top: 15px;">
        <span>강의 시청</span>
        <hr style="margin: 10px;">
    </div>
</div>
<div class="container">
    <div class="wrap">
        <div class="header">
            <div class="lectureClassName"></div>
        </div>
        <div class="lecturevideo">
            <video id="lecture-video" class="videoPlay" controls controlsList="nodownload" style="width: 35vw; height: 35vh;">
                <source th:src="@{/video/} + ${lecturePlay.chapters[0].classesList[0].videoPath}">
            </video>
        </div>
        <div class="tutor-comment">
            <span th:text="${ lecturePlay.lectureSummary }"></span>
        </div>
    </div>
    <div class="wrap">
        <div class="lecture-list">
            <div class="header">
                <div>강의 리스트</div>
            </div>
            <div class="class-content">
                <div th:each="chapter, stat : ${ lecturePlay.chapters }" class="class-title">
                    <th:block th:text="${ chapter.chapterName }"></th:block>
                    <progress class="progressbar" value="100" min="0" max="100"></progress>
                    <span class="time"></span>
                    <div class="menu">
                        <div class="openmenu"
                             th:each="lectureClass, status : ${lecturePlay.chapters[stat.index].classesList}">
                            <th:block th:text="${lectureClass.className}"></th:block>
                            <input id="videoPath" type="hidden" th:value="${lectureClass.videoPath}">
                            <input class="videoStatus" type="hidden" th:value="${lectureClass.whatcingStatus}">
                            <input class="videoTimeNo" type="hidden" th:value="${lectureClass.timeNo}">
                            <input class="className" type="hidden" th:value="${lectureClass.className}">
                            <th:block th:if="${lectureClass.quiz.submissionStatus.toString().equals('Y')}">
                                <span class="badge text-light" style="background-color: #f3c3c3">완료</span>
                            </th:block>
                            <th:block th:if="${lectureClass.quiz.submissionStatus.toString().equals('N')}">
                                <span class="badge text-dark" style="background-color: #caecc6">풀이전</span>
                            </th:block>
                            <button type="button" class="btn quiz-btn quiz" id="quiz"
                                    th:attrappend="id=${lectureClass.quiz.quizNo}"
                                    style="background-color: #7DACE4; color: white"
                                    th:value="${ lectureClass.quiz.quizNo }" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                퀴즈
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<!--<form action="/quiz/grading" method="post">-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header modal-head">
                    <span class="head-title">Quiz</span>
                    <button type="button" class="btn-close close-btn" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="question">
                        <div class="question-area">
                            <label id="question"></label>
                        </div>
                        <div class="option-area">
                            <input type="radio" class="option" name="option" value="1">
                            <label id="option1"></label>
                        </div>
                        <div class="option-area">
                            <input type="radio" class="option" name="option" value="2">
                            <label id="option2"></label>
                        </div>
                        <div class="option-area">
                            <input type="radio" class="option" name="option" value="3">
                            <label id="option3"></label>
                        </div>
                        <div class="option-area">
                            <input type="radio" class="option" name="option" value="4">
                            <label id="option4"></label>
                        </div>
                    </div>
                    <input type="hidden" id="quizNo" name="quizNo">
                    <input type="hidden" id="correctAnswer">
                </div>
                <div class="modal-footer">
                    <button type="button" id="closeModal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="submit" type="button" class="btn" style="background-color: #d3e1f3; color: rgb(107, 107, 107);">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
<!--</form>-->
<script th:inline="javascript">


    $('.class-title').click(function () {
        $(this).children('.menu').slideToggle(600);
    });

    $('.class-title').hover(function () {
        $(this).css('background-color', '#d3e1f3');
        $(this).children('.menu').css('background-color', 'white');
    }, function () {
        $(this).css('background-color', 'white');
    });

    $('.openmenu').hover(function () {
        $(this).css('background-color', '#e4e4e4');
        // $(this).parent('class-title').css('background-color', 'white');
    }, function () {
        $(this).css('background-color', 'white');
    })

    $('.openmenu').click(function() {
        $('#lecture-video').remove();
        $('.videoValue').remove();
        const videoPath = $(this).children('input').eq(0).val();
        const videoStatus = $(this).children('input').eq(1).val();
        const videoTimeNo = $(this).children('input').eq(2).val();
        const className = $(this).children('input').eq(3).val();
        console.log(videoPath);
        console.log(videoStatus);
        console.log(videoTimeNo);
        const totalPath = `<video id="lecture-video" className="videoPlay" controls controlsList="nodownload" style="width: 35vw; height: 35vh;"><source src= /video/`+ videoPath + `></video>`;
        console.log(totalPath);
        const videoStatusInputTag = '<input type="hidden" class="videoValue" value="' + videoStatus + '">'
        const videoTimeNoTag = '<input type="hidden" class="videoValue" value="' + videoTimeNo + '">'
        console.log(videoStatusInputTag);
        $(".lecturevideo").append(totalPath);
        $("#lecture-video").append(videoStatusInputTag);
        $("#lecture-video").append(videoTimeNoTag);
        $(".lectureClassName").html(className);
    })

    $(".quiz").click(function () {
        $('input[name=option]').prop('checked',false);
        $('.resultArea').remove();
        $('input[name="option"]').removeClass("redStyle");
        $('input[name="option"]').removeClass("greenStyle");
        const quizNo = $(this).val();
        console.log(quizNo);
        // location.href = "/quiz/list?=" + quizNo;

        // fetch('/quiz/list?quizNo='+ quizNo)
        //     .then((response) => response.json())
        //     .then((data) => console.log(data));

        $.ajax({
            url: "/quiz/list",
            type: "get",
            data: {quizNo: quizNo},
            success: function (data) {
                console.log(data)
                $("#question").html(data.content);
                $("#option1").html(data.option1);
                $("#option2").html(data.option2);
                $("#option3").html(data.option3);
                $("#option4").html(data.option4);
                $("#quizNo").val(data.quizNo);
                $("#correctAnswer").val(data.answer);

            }, error: function (data) {
                console.log(data);
            }
        })
    })
    $("#submit").click(function() {
        const answer = $('input[name=option]:checked').val();
        var tmpHtml = "";
        console.log(answer);
        const quiz = $('#quizNo').val();
        $.ajax({
            url: "/quiz/confirm",
            type: "get",
            data: {quizNo: quiz},
            success: function(data) {
                if(data == true) {
                    alert("이미 제출한 퀴즈입니다.");
                } else {
                    $.ajax({
                        url: "/quiz/grading",
                        type: "post",
                        data: {option: answer, quizNo:quiz },
                        success: function(data) {
                            console.log(data);

                            if(data == true){
                                console.log($('input[name=option]').is(':checked'));
                                if($('input[name=option]').is(':checked')){
                                    $('input[name="option"]:checked').addClass("greenStyle");
                                } else {
                                    $('input[name="option"]').addClass("redStyle");
                                }
                                tmpHtml = tmpHtml + "<hr class='resultArea'><div class='resultArea'>정답입니다!</div>";
                                $('.resultArea').remove();
                                $('.question').append(tmpHtml);
                            } else if(data == false) {
                                tmpHtml = tmpHtml + "<hr class='resultArea'><div class='resultArea'>오답입니다!</div>";
                                $('.resultArea').remove();
                                $('.question').append(tmpHtml);
                            }
                            $("#closeModal").click(function () {
                                location.href = "/learning/play";
                            })
                        }
                    });
                }
            }

        })

    })
    $('#lecture-video').click(function(e) {
        console.log($(this).children('input').eq(0).val());
        console.log($(this).children('input').eq(1).val());
        let timeNo = $(this).children('input').eq(1).val();
        if ($(this).children('input').eq(0).val() == "N "){
            $.ajax({
                url: "/learning/videostatus",
                type: "get",
                data: {
                    status: "Y",
                    timeNo : timeNo
                },
                success: function (data) {
                    console.log(data)

                }
            });
        } else{
            console.log('오류났음ㅋ');
        }
    });







</script>
</body>

</html>