<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Rotutee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/sj/common.css">
    <link rel="stylesheet" type="text/css" href="/css/sj/detail.css">
    <script>
        const message = "[[${message}]]"
        message && alert(message);
    </script>
</head>
<body>
    <div th:include="common/topMenubar.html"></div>
    <main>
        <div class="container d-flex">
            <div>
                <div class="lecture-detail">
                    <br>
                    <p style="margin-left: 75px; font-size: xx-large;" th:text="${lecture.lectureName}"></p>
                    <br>
                    <img th:src="@{/images/thumbnail/} + ${lecture.saveFileName}" style="width: 800px; margin-left: 75px;">
                    <div class="lecture-intro">
                        <p style="margin-top: 10px; margin-left: 10px;" th:text="${lecture.lectureSummary}"></p>
                    </div>
                    <div class="lecture-intro">
                        <p style="margin-top: 10px; margin-left: 10px;" th:text="${lecture.lecturedetails}"></p>
                    </div>
                    <p style="margin-left: 75px; margin-top: 30px; font-size: x-large;">커리큘럼</p>
                    <div th:each="chapter : ${chapterList}">
                        <div class="chapter mt-lg-3">
                            <p style="margin-top:15px; margin-left:15px;" th:text="${chapter.chapterName}"></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="lecture-review">
                        <p style="margin-left: 30px; margin-top:30px; font-size: x-large;">강의평</p>
                        <div class="d-flex review-area">
                            <div class="review-info">
                                <p style="margin-left: 75px; margin-top: 40px; font-size: x-large;" th:text="${gradeAverage} + '점'"></p>
                                <div style="margin-left: 15px; margin-top:10px; font-size: xx-large;">
                                    <th:block th:if="${gradeAverage} <= 0">

                                    </th:block>
                                    <th:block th:if="${gradeAverage} >= 1 and ${gradeAverage} < 2">
                                        <span>★</span>
                                    </th:block>
                                    <th:block th:if="${gradeAverage} >= 2 and ${gradeAverage} < 3">
                                        <span>★</span><span>★</span>
                                    </th:block>
                                    <th:block th:if="${gradeAverage} >= 3 and ${gradeAverage} < 4">
                                        <span>★</span><span>★</span><span>★</span>
                                    </th:block>
                                    <th:block th:if="${gradeAverage} >= 4 and ${gradeAverage} < 5">
                                        <span>★</span><span>★</span><span>★</span><span>★</span>
                                    </th:block>
                                    <th:block th:if="${gradeAverage} >= 5">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </th:block>
                                </div>
                                <p style="margin-left: 50px; margin-top: 20px; font-size: large;" th:text="${lectureReviewList.size()} + '명 참여'"></p>
                            </div>
                            <div class="review-write">
                                <form name="myform" id="myform" method="post" action="/lecture/writereview">
                                    <input type="hidden" id="lectureNo" name="lectureNo" th:value="${lecture.lectureNo}">
                                    <fieldset>
                                        <input type="radio" name="rating" value="5" id="rate1"><label for="rate1">⭐</label>
                                        <input type="radio" name="rating" value="4" id="rate2"><label for="rate2">⭐</label>
                                        <input type="radio" name="rating" value="3" id="rate3"><label for="rate3">⭐</label>
                                        <input type="radio" name="rating" value="2" id="rate4"><label for="rate4">⭐</label>
                                        <input type="radio" name="rating" value="1" id="rate5"><label for="rate5">⭐</label>
                                    </fieldset>
                                    <p style="margin-left: 220px; margin-top: 10px; font-size: x-large;">별점을 선택해 주세요</p>
                                    <textarea id="reviewForm" placeholder="강의평을 작성해주세요" cols="80" rows="4" name="content"></textarea>
                                    <button type="submit" class="btn btn-primary btn-sm" id="writeReview">작성</button>
                                </form>
                            </div>
                        </div>
                        <!-- 댓글 리스트 -->
                        <div class="review-list">
                            <!-- 댓글 -->
                            <div class="row review" style="margin-top: 5px; margin-bottom: 5px; margin-left: 25px;" th:each="lectureReview : ${lectureReviewList}">
                                <div class="col-1 review-image" style="margin-top: 10px">
                                    <th:block th:if="${lectureReview.writer.imageName} != null">
                                        <img class="profileimg" th:src="@{/sg/image/} + ${lectureReview.writer.imageName}">
                                    </th:block>
                                </div>
                                <div class="col-2 review-name">
                                    <th:block th:if="${lectureReview.lectureGrade == 1}">
                                        <p style="margin-left: 10px;"><span>★</span></p>
                                    </th:block>
                                    <th:block th:if="${lectureReview.lectureGrade == 2}">
                                        <p style="margin-left: 10px;"><span>★</span><span>★</span></p>
                                    </th:block>
                                    <th:block th:if="${lectureReview.lectureGrade == 3}">
                                        <p style="margin-left: 10px;"><span>★</span><span>★</span><span>★</span></p>
                                    </th:block>
                                    <th:block th:if="${lectureReview.lectureGrade == 4}">
                                        <p style="margin-left: 10px;"><span>★</span><span>★</span><span>★</span><span>★</span></p>
                                    </th:block>
                                    <th:block th:if="${lectureReview.lectureGrade == 5}">
                                        <p style="margin-left: 10px;"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></p>
                                    </th:block>
                                    <p style="margin-left: 10px;" th:text="${lectureReview.writer.name}"></p>
                                </div>
                                <div class="col-4"></div>
                                <div class="col-4 button-area" style="margin-top: 10px" sec:authorize="isAuthenticated()">
                                    <button type="button" class="btn btn-danger report" th:if="${lectureReview.writer.no} != ${#authentication.principal.no}">신고</button>
                                    <button type="button" class="btn btn-danger remove" th:if="${lectureReview.writer.no} == ${#authentication.principal.no}">삭제</button>
                                    <button type="button" class="btn btn-success modifybutton" th:if="${lectureReview.writer.no} == ${#authentication.principal.no}">수정</button>
                                </div>
                                <div class="review-text">
                                    <input type="hidden" class="lectureReviewNo" name="lectureReviewNo" th:value="${lectureReview.lectureReviewNo}">
                                    <textarea th:text="${lectureReview.lectureReviewContent}" class="reviewsBody" name="reviewsBody" cols="85", rows="5" disabled></textarea>
                                    <button type="button" class="btn btn-primary btn-sm modify" style="display:none; margin-bottom: 25px">저장</button>
                                    <button type="reset" class="btn btn-secondary btn-sm cancel" style="display:none; margin-bottom: 25px">취소</button>
                                </div>
                            </div>
                            <!-- 댓글 end -->
                        </div>
                        <!-- 댓글 리스트 end -->
                    </div>
                </div>
            </div>
            <div class="d-flex" style="flex-direction: column;">
                <div class="tutor-detail">
                    <button class="btn btn-success addcart">수강 바구니에 담기</button>
                    <p style="margin-left: 65px; margin-top: 20px;" th:text="|현재 ${lectureMemberCount - 1} 명이 수강중입니다.|"></p>
                    <div class="d-flex tutor-info">
                        <div class="tutor-image">
                            <img th:src="@{/sg/image/} + ${lecture.tutor.imageName}" style="width: 140px; height: 140px;">
                        </div>
                        <div class="tutor-name">
                            <p style="margin-left: 30px; margin-top: 30px;" th:text="${lecture.tutor.name}"></p>
                            <p style="margin-left: 30px; margin-top: 30px;">TUTOR</p>
                        </div>
                    </div>
                    <div class="tutor-intro">
                        <p th:text="${lecture.tutor.introduction}"></p>
                    </div>
                </div>
                <div class="lecture-grade">
                    <p style="margin-top: 20px; margin-left: 20px; font-size: x-large;">평점</p>
                    <div style="margin-left: 65px; margin-top:30px; font-size: xx-large;">
                        <th:block th:if="${gradeAverage} <= 0">

                        </th:block>
                        <th:block th:if="${gradeAverage} >= 1 and ${gradeAverage} < 2">
                            <span>★</span>
                        </th:block>
                        <th:block th:if="${gradeAverage} >= 2 and ${gradeAverage} < 3">
                            <span>★</span><span>★</span>
                        </th:block>
                        <th:block th:if="${gradeAverage} >= 3 and ${gradeAverage} < 4">
                            <span>★</span><span>★</span><span>★</span>
                        </th:block>
                        <th:block th:if="${gradeAverage} >= 4 and ${gradeAverage} < 5">
                            <span>★</span><span>★</span><span>★</span><span>★</span>
                        </th:block>
                        <th:block th:if="${gradeAverage} >= 5">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </th:block>
                    </div>
                    <p style="margin-top: 20px; margin-left: 110px;" th:text="${lectureReviewList.size()} + '명 참여'"></p>
                </div>
            </div>
        </div>
    </main>
    <div th:include="common/footer.html"></div>
    <script>
        $(".modifybutton").click(function() {
            const modify = $(this).parent().siblings().children(".modify");
            const cancel = $(this).parent().siblings().children(".cancel");
            const reviewsBody = $(this).parent().siblings().children(".reviewsBody");

            modify.css("display", "inline");
            cancel.css("display", "inline");
            reviewsBody.attr("disabled", false);
            reviewsBody.css("border", "1px solid black");

            $(this).parent().siblings().children(".modify").click(function() {
                const lectureReviewNo = $(this).siblings(".lectureReviewNo").val();
                const lectureReviewContent = $(this).siblings(".reviewsBody").val();

                $.ajax({
                    url: "/lecture/modifyreview",
                    type: "post",
                    data: {lectureReviewNo:lectureReviewNo, lectureReviewContent:lectureReviewContent},
                    success: function(data, status, xhr) {
                        alert("강의평을 수정하였습니다.");
                        modify.css("display", "none");
                        cancel.css("display", "none");
                        reviewsBody.attr("disabled", true);
                        reviewsBody.css("border", "none");
                    },
                    error: function(xhr, status, error) {

                    }
                })
            })
        })

        $(".cancel").click(function() {
            $(this).css("display", "none");
            $(this).siblings(".modify").css("display", "none");
            $(this).siblings(".reviewsBody").attr("disabled", true);
            $(this).siblings(".reviewsBody").css("border", "none");
        })

        $(".remove").click(function() {
            const lectureReviewNo = $(this).parent().siblings().children(".lectureReviewNo").val();
            const lectureNo = [[${lecture.lectureNo}]]
            location.href = "/lecture/removereview?lectureReviewNo=" + lectureReviewNo + "&lectureNo=" + lectureNo;
        })

        $(".addcart").click(function() {
            const lectureNo = [[${lecture.lectureNo}]]
            location.href = "/basket/regist/" + lectureNo;
        })
    </script>
</body>
</html>