<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/sj/common.css">
    <link rel="stylesheet" type="text/css" href="/css/sj/lecture.css">
</head>
<body>
<div th:include="common/topMenubar.html"></div>
<main>
    <section class="search mt-lg-5">
        <div class="container d-flex justify-content-end">
            <form class="position-relative ms-3 searchbar shoadow" action="/lecture/search" method="get" style="display: flex">
                <select class="form-select shoadow" name="searchCondition">
                    <option selected value="1">강의명</option>
                    <option value="2">강사이름</option>
                </select>
                <input type="search" class="form-control" name="searchValue" placeholder="Search...">
                <button type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </section>
    <br>
    <div class="container">
        <input type="button" class="btn btn-secondary btn-sm category" value="Python">
        <input type="button" class="btn btn-secondary btn-sm category" value="JAVA">
        <input type="button" class="btn btn-secondary btn-sm category" value="Node.js">
        <input type="button" class="btn btn-secondary btn-sm category" value="Kotlin">
        <input type="button" class="btn btn-secondary btn-sm category" value="Spring">
        <input type="button" class="btn btn-secondary btn-sm category" value="DBMS">
        <input type="button" class="btn btn-secondary btn-sm category" value="JavaScript">
        <input type="button" class="btn btn-secondary btn-sm category" value="React">
        <input type="button" class="btn btn-secondary btn-sm category" value="HTML">
        <input type="button" class="btn btn-secondary btn-sm category" value="CSS">
        <input type="button" class="btn btn-secondary btn-sm category" value="Swift">
        <input type="button" class="btn btn-secondary btn-sm category" value="기타">
    </div>
    <br>
    <div class="container" style="border: 1px solid gray;">
        <div class="row">
            <div class="col-sm-3" th:each="lecture : ${lectureList}">
                <div class="card" style="width: 215px; height: 215px; margin-top: 10px;">
                    <input type="hidden" th:value="${lecture.lectureNo}" name="lectureNo" class="lectureNo">
                    <th:block th:if="${lecture.saveFileName != null}">
                        <img th:src="@{/images/thumbnail/} + ${lecture.saveFileName}" class="card-img-top" alt="..." style="height: 85px;">
                    </th:block>
                    <div class="card-body">
                        <input class="lecture-price-box" type="text" th:value="${lecture.lecturePrice} + WON" disabled>
                        <br>
                        <p class="card-title" th:text="${lecture.lectureName}"></p>
<!--                        <i class="bi bi-play-circle"></i><span></span>-->
<!--                        <br>-->
<!--                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>4.5 (20 reviews)-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(".card").click(function () {
        const lectureNo = $(this).children(".lectureNo").val();
        location.href = "/lecture/detail?lectureNo=" + lectureNo;
    })
    $("div > .category").click(function() {
        let categoryName = $(this).val();
        location.href = "/lecture/list?categoryName=" + categoryName;
    })
</script>
</body>
</html>