<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/sj/common.css">
    <link rel="stylesheet" href="../../static/css/sj/sidebar.css">
</head>
<body>
    <div th:include="common/mypagemenubar.html"></div>
    <main>
        <div class="container p-0" style="max-width: none;">
            <div id="bannereIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" style="height: 40%;">
                    <div class="carousel-item active">
                        <img src="../../static/images/banner/nature-gff15c3f60_1920.jpg" class="d-block w-100" style="height: 250px" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../static/images/banner/pexels-engin-akyurt-1435735.jpg" class="d-block w-100" style="height: 250px" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../static/images/banner/surreal-ga273b48a9_1920.jpg" class="d-block w-100" style="height: 250px" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <!-- 슬라이드 배너 end -->
        <!-- 배너 이름 -->
        <section class="lecture-banner mt-lg-5">
            <div class="container">
                <ul class="d-flex justify-content-evenly">
                    <li><button class="btn btn-outline-primary round" data-bs-target="#bannereIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1">강의이름</button></li>
                    <li><button class="btn btn-outline-primary round" data-bs-target="#bannereIndicators" data-bs-slide-to="1" aria-label="Slide 2">강의이름</button></li>
                    <li><button class="btn btn-outline-primary round" data-bs-target="#bannereIndicators" data-bs-slide-to="2" aria-label="Slide 3">강의이름</button></li>
                </ul>
            </div>
        </section>
        <!-- 배너 이름 end -->
        <!-- 강의 검색 -->
        <section class="search mt-lg-5">
            <div class="container d-flex justify-content-center">
                <select class="form-select shoadow">
                    <option selected value="1">강의명</option>
                    <option value="2">강사이름</option>
                </select>
                <form class="position-relative ms-3 searchbar shoadow" action="/lecture/list">
                    <input type="search" class="form-control" placeholder="Search...">
                    <button type="submit" style="margin-top: -10px">
                        <i class="bi bi-search" style="color: black"></i>
                    </button>
                </form>
            </div>
        </section>
        <!-- 추천강의 베너리스트 -->
        <section class="famous-lecture-list mt-lg-5">
            <div class="container">
                <div class="carousel-header">
                    <p style="font-size: xx-large; text-decoration: underline; text-underline-position: under;"><span style="color: #ff7d7d;">인기</span>강의</p>
                    <br>
                    <br>
                </div>
                <div id="famousControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="inner-content d-flex justify-content-evenly" style="height: 500px;">
                                <div class="lecture-item">
                                    <div class="lecture-thumbnail">
                                        <img class="famous-lecture-banner" src="image/banner/Java.jpg">
                                        <div class="lecture-info">
                                            <br>
                                            <span>신나는 JAVA 웹 개발</span>
                                            <br>
                                            <i class="bi bi-play-circle"></i>
                                            36Lessons
                                            <br>
                                            60,000 WON
                                            <br>
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>4.5 (20 reviews)
                                        </div>
                                    </div>
                                </div>
                                <div class="lecture-item">
                                    2
                                </div>
                                <div class="lecture-item">
                                    3
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="inner-content d-flex justify-content-evenly">
                                <div class="lecture-item">
                                    4
                                </div>
                                <div class="lecture-item">
                                    5
                                </div>
                                <div class="lecture-item">
                                    6
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="inner-content d-flex justify-content-evenly">
                                <div class="lecture-item">
                                    7
                                </div>
                                <div class="lecture-item">
                                    8
                                </div>
                                <div class="lecture-item">
                                    9
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#famousControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#famousControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </section>
        <br>
        <section class="interest-lecture-list mt-lg-5">
            <div class="container">
                <div class="carousel-header">
                    <p style="font-size: xx-large; text-decoration: underline; text-underline-position: under;"><span style="color: #ff7d7d;">관심</span>있을 만한 강의</p>
                    <br>
                    <br>
                </div>
                <div id="interestControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="inner-content d-flex justify-content-evenly" style="height: 500px;">
                                <div class="lecture-item">
                                    <div class="lecture-thumbnail">
                                        <img class="interest-lecture-banner" src="image/banner/Java.jpg">
                                        <div class="lecture-info">
                                            <br>
                                            <span>신나는 JAVA 웹 개발</span>
                                            <br>
                                            <i class="bi bi-play-circle"></i>
                                            36Lessons
                                            <br>
                                            60,000 WON
                                            <br>
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>4.5 (20 reviews)
                                        </div>
                                    </div>
                                </div>
                                <div class="lecture-item">
                                    2
                                </div>
                                <div class="lecture-item">
                                    3
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="inner-content d-flex justify-content-evenly">
                                <div class="lecture-item">
                                    4
                                </div>
                                <div class="lecture-item">
                                    5
                                </div>
                                <div class="lecture-item">
                                    6
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="inner-content d-flex justify-content-evenly">
                                <div class="lecture-item">
                                    7
                                </div>
                                <div class="lecture-item">
                                    8
                                </div>
                                <div class="lecture-item">
                                    9
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#interestControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#interestControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </section>
        <br>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>
</html>