.coupon-header {
    width: 100%;
}


.menu-title {
    padding: 8px 16px;
    font-size: 20px;
    font-weight: bold;
}

.menu-item{
    padding: 8px 16px;
    font-size: 16px;
    font-weight: normal;
}

.menu-item li{
    padding: 8px 16px;
}


/* 쿠폰 컨탠츠 본문 */
.coupon-content{
    min-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

/* 쿠폰 발행*/
.publish-coupon-item{
    padding: 5px 10px;
}