/* 쿠폰 본문*/

.section-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

.coupon-thead {
    font-size: 14px;
    font-font: Lato-Bold;
    background-color: #D1E4FA;
    color: #8397D7;
    pointer-events: none;
}

.coupon-thead th {
    padding: 18px 10px;
}

.coupon-tbody td{
    padding: 10px 0;
}
.coupon-content {
    padding: 30px;
}

/* 쿠폰 발행*/
.publish-coupon-item {
    padding: 5px 10px;
}