/* 쿠폰 */
.coupon-header {
    width: 100%;
}


.menu-title {
    padding: 8px 16px;
    font-size: 20px;
    font-weight: bold;
}

.menu-item{
    padding: 8px 16px;
    font-size: 16px;
    font-weight: normal;
}

.menu-item li{
    padding: 8px 16px;
}