/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -- Study Header -- */

.study-header * {
    margin-left: 2rem;
    font-weight: bold;
}

/* 모집글 상세페이지 본문 */
.study-status{
    background-color: darkgreen;
    padding: 3px 5px;
    color: white;
    font-weight: bold;
    align-self: center;
}

.study-title{
    font-size: 24px;
    font-weight: bold;

}

.study-content{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    line-height: 1.2em;
    height: 3.6em; /* 라인높이 * 라인수 */
    white-space: pre-line;
}

/* 태그 */
.study-tag{
    background-color: rgba(135, 206, 235, 0.2);
    padding: 3px 5px;
    border-radius: 5px;
    color: orangered;
    font-weight: bold;
    box-shadow: 1px 1px 3px 1px rgba(135, 206, 235, 0.2);
}








/* 모집글 상세페이지 댓글 */
.study-detail-sideMenu{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    width: 100%;
}

.study-detail-sideMenu-left{
    max-width: 200px;
}

.study-detail-sideMenu-right {
}

.study-detail-content{
    width: 100%;
    max-width: 800px;
    margin: auto;
}