/* -- Study Header -- */
.study-header * {
    margin-left: 2rem;
    font-weight: bold;
}

/* 모집글 상세페이지 본문 */
.study-status {
    background-color: darkgreen;
    padding: 3px 5px;
    color: white;
    font-weight: bold;
    align-self: center;
}

.study-title {
    font-size: 24px;
    font-weight: bold;

}

.study-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.2em;
    height: 3.6em; /* 라인높이 * 라인수 */
    white-space: pre-line;
}

/* 태그 */
.study-tag {
    background-color: rgba(135, 206, 235, 0.2);
    padding: 3px 5px;
    border-radius: 5px;
    color: orangered;
    font-weight: bold;
    box-shadow: 1px 1px 3px 1px rgba(135, 206, 235, 0.2);
}


/* 모집글 메인 */
.main-content {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 30px;
}

.detail-item-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.detail-writer-editbtn {
    display: flex;
}

.detail-item-nickanme {
    font-weight: bold;
    margin-right: 10px;
    align-self: center;
}

.detail-item-registDate {
    align-self: center;
}

.detail-item-nickanme:after {
    content: " - ";
}

.detail-edit-btn {
    margin-left: auto;
}

.detail-item-tags {
    display: flex;
    padding: 20px 0;
}

.detail-item-tags > div {
    margin-right: 5px;
    padding: 4px 8px;
    background-color: lightblue;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;

}


/* 모집글 상세페이지 댓글 */
.main-wrapper {
    display: flex;
    align-self: center;
}



.detail-relpy-wrapper{

}