<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Table V04</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/sg/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/sg/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/sg/vendor/select2/select2.min.css}">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/sg/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/sg/css/main.css}">
    <!--===============================================================================================-->
    <!-- font-family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:inline="javascript">
        /* 비지니스 로직 성공 alert 메시지 처리 */
        const message = [[${message}]];
        if (message != null && message != '') {
            alert(message);
        }
    </script>

    <style>
        tr:hover {
            background-color: #F5F5F5;
        }

        .pagebtn {

            background-color: #D1E4FA;
        }

        .pagebtn:focus {
            background-color: #8397D7;
        }

        .container {
            padding-top: 60px;
        }

        .head {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 20px;
        }

        #myTab {
            font-family: 'Noto Sans KR', sans-serif;

        }

        tr:hover {
            background-color: #F5F5F5;
        }

        .pagebtn {

            background-color: #D1E4FA !important;
        }

        .pagebtn:focus {
            background-color: #8397D7;
        }

        .head {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 20px;
        }

        .selectBox {
            height: 30px;
            display: flex;
            align-content: center;
            margin-top: 20px;

        }

        .search-btn {
            background-color: #8DB6E7 !important;
            color: white !important;
            width: 70px;
            height: 35px;
            font-size: 12px !important;
            padding: 0 !important;
        }

        #search-box {
            border: solid 1px;
        }

    </style>
</head>
<body>
<div th:include="/common/adminsidebar.html"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #4994EC; height: 50px;">
                <h5 class="modal-title" id="exampleModalLabel">회원 정보</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4" style="height: 200px;">
                            <img id="profile" th:src="@{/sg/image/profile.PNG}" style="width: 140px; height: 180px;">
                        </div>
                        <div class="col-8" style="height: 200px;">
                            <p>이름 : <span id="name"></span></p>
                            <p>이메일 : <span id="email"></span></p>
                            <p>닉네임 : <span id="nickname"></span></p>
                            <p>상태 : <span id="status"></span></p>
                            <p>권한 : <span id="role"></span></p>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" id="manager-btn" class="btn btn-danger">관리</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/member/stop" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="memberNo" name="memberNo">
                    <label>정지일</label>
                    <select id="stopDate" name="stopDate">
                        <option value="1">1</option>
                        <option value="3">3</option>
                        <option value="7">7</option>
                        <option value="30">30</option>
                        <option value="90">90</option>
                        <option value="180">180</option>
                        <option value="365">365</option>
                    </select>
                    <label>정지사유</label>
                    <select id="stopReasons" name="stopReasons">
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-danger">회원정지</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8" style="height: 100px;">
                        <p>정지사유 : <sanp id="content"></sanp></p>
                        <p>시작일 : <sanp id="startDate"></sanp></p>
                        <p>종료일 : <sanp id="endDate"></sanp></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" id="play-btn" class="btn btn-danger">정지철회</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="box">
        <label class="head">회원 목록</label>
        <hr>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="limiter">
                    <div class="container-table100">
                        <div class="wrap-table100">
                            <div class="table100 ver1 m-b-110">
                                <div class="table100-head">
                                    <table>
                                        <thead>
                                        <tr class="row100 head">
                                            <th class="cell100 column1">회원번호</th>
                                            <th class="cell100 column2">회원명</th>
                                            <th class="cell100 column3">이메일</th>
                                            <th class="cell100 column4">가입일자</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="table100-body">
                                    <table id="before-table">
                                        <tbody>
                                        <tr class="row100 body" th:each="member : ${ memberList }">
                                            <td class="cell100 column1" th:text="${ member.no }"></td>
                                            <td class="cell100 column2" th:text="${ member.name }"></td>
                                            <td class="cell100 column3" th:text="${ member.email }"></td>
                                            <td class="cell100 column4" th:text="${ member.registrationDate }"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--paging button-->
                <div class="d-flex justify-content-center">
                    <div class="justify-content-evenly mt-lg-5">
                        <button class="btn pagebtn" type="button"
                                th:onclick="'location.href=\'/member/list?page=' + @{${paging.startPage}}  + '\''"
                                th:disabled="${ memberList.first }"><<
                        </button>
                        <button class="btn pagebtn" type="button"
                                th:onclick="'location.href=\'/member/list?page=' + @{${paging.currentPage - 1}}  + '\''"
                                th:disabled="${ memberList.first }"><
                        </button>
                        <th:block th:each="page : ${#numbers.sequence(paging.startPage, paging.endPage)}">
                            <button class="btn pagebtn" type="button"
                                    th:onclick="'location.href=\'/member/list?page=' + @{${page}}  + '\''"
                                    th:text="${ page }"
                                    th:disabled="${ paging.currentPage eq page }">
                            </button>
                        </th:block>
                        <button class="btn pagebtn" type="button"
                                th:onclick="'location.href=\'/member/list?page=' + @{${paging.currentPage + 1}}  + '\''"
                                th:disabled="${ memberList.last }">>
                        </button>
                        <button class="btn pagebtn" type="button"
                                th:onclick="'location.href=\'/member/list?page=' + @{${paging.endPage}}  + '\''"
                                th:disabled="${ memberList.last }">>>
                        </button>
                    </div>
                </div>
                <!-- Search bar -->
                <form th:action="@{/member/search}" method="get">
                    <div class="selectBox d-flex justify-content-center">
                        <select name="searchCondition">
                            <option value="name">회원명</option>
                            <option value="email">이메일</option>
                            <option value="category">튜티/튜터</option>
                        </select>
                        <input id="search-box" type="text" placeholder="검색어입력" name="searchValue">
                        <button class="btn search-btn">검색하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br>
<!--<div th:include="/common/footer.html"></div>-->

<!--===============================================================================================-->
<script src="../../static/sg/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../../static/sg/vendor/bootstrap/js/popper.js"></script>
<script src="../../static/sg/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../../static/sg/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../../static/sg/js/main.js"></script>

<script>

    let status;
    let playMemberNo;

    $(function(){
        $.ajax({
            url: "/member/reasons",
            success: function(data) {
                const stopReasons = $("#stopReasons");
                stopReasons.html("");
                console.log(data);

                for(let index in data) {
                    stopReasons.append($("<option>").val(data[index].no).text(data[index].content));
                }
            }
        });
    });

    $("#play-btn").click(function() {

        location.href="/member/play/" + playMemberNo;
    });

    $("#manager-btn").click(function() {

        if(status == "활동") {
            $("#exampleModal2").modal('show');
        } else {
            $("#exampleModal3").modal('show');
        }
    });

    $("#closeDetail").click(function() {

        document.querySelector('.memberDetail_wrap').style.display = 'none';
    });

    // 테이블의 Row 클릭시 값 가져오기
    $("#before-table tr").click(function () {

        let tr = $(this);
        let td = tr.children();
        let memberNo = td.eq(0).text();

        $.ajax({
            url: "/member/detail",
            data: { "memberNo" : memberNo },
            success: function(data) {

                playMemberNo = data.member.no;
                $("#memberNo").val(memberNo);
                $("#name").text(data.member.name);
                $("#email").text(data.member.email);
                $("#nickname").text(data.member.nickname);
                $("#status").text(data.memberStatus.status);
                if(data.memberRole == 'ROLE_TUTEE') {
                    $("#role").text("튜티");
                } else {
                    $("#role").text("튜터");
                }

                console.log(data);
                console.log(data.memberStatus);


                if(data.memberStatus.status == "정지") {
                    status = "정지";
                    $("#content").text(data.memberStatus.suspensionHitory.reasons.content);
                    $("#startDate").text(data.memberStatus.suspensionHitory.startDate);
                    $("#endDate").text(data.memberStatus.suspensionHitory.endDate);
                } else {
                    status = "활동"
                }

                // const profile = $("#profile");
                //
                // console.log(data.attachedFile);
                //
                // console.log(profile);
                // // profile.src = "@{/sg/image/" + data.attachedFile.saveAttachedFileName + "}";
                // profile.src = "../../../static/sg/image" + data.attachedFile.saveAttachedFileName;
                //
                // console.log(profile.src);

                $("#exampleModal").modal('show');
            }
        });
    });

</script>
</body>
</html>