<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">

    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{../hg/css/study.css}" rel="stylesheet">

    <title>Title</title>
</head>
<body>
<div th:include="/common/topMenubar.html"></div>
<main>
    <section class="container">
        <div class="study-detail-sideMenu">
            <div class="study-detail-sideMenu-left">
                뒤로가기
            </div>
            <div style="width: 100%; max-width: 800px;"></div>
            <div class="study-detail-sideMenu-right">
                <ul>
                    <li> 모집상태</li>
                    <li> 조회수</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="study-detail-content">
        <div class="">
            <div class="d-flex justify-content-end">
                <button class="btn" data-bs-toggle="modal" data-bs-target="#studyModify" th:onclick="btn()">수정
                </button>
                <button class="btn" th:onclick="|location.href='@{/study/remove?no=}' + @{${studyDetail.studyNo}}|">
                    삭제
                </button>
            </div>

            <ul>
                <input type="hidden" id="studyNo" th:value="${studyDetail.studyNo}"/>
                <li class="w-100">
                    <span class="fs-3 fw-bold mb-md-3" th:text="${ studyDetail.title}"/>
                </li>
                <li>
                    <span th:text="${ studyDetail.content}"/>
                </li>
                <li>
                    <span class="fw-bold" th:text="${ studyDetail.writer.getNickname()}"/>
                    <span th:text="${studyDetail.startDate}"></span>
                </li>
            </ul>
            <div calss="w-100" id="registReplyList">
                <ul th:each="studyReplyList:${studyReplyList}">
                    <li class="d-flex">
                        <input type="hidden" id="repleNo" th:value="${studyReplyList.replyNo}">
                        <input type="hidden" id="repleWriteDate" th:value="${studyReplyList.replyWriteDate}">
                    <li th:text="${studyReplyList.writer.nickname}"></li>
                    <li th:text="${studyReplyList.replyContent}"></li>
                    <li th:if="${studyReplyList.writer.no} == ${#authentication.principal.no}">
                        <button type="button" th:onclick="|studyReplyModify(${studyReplyList.replyNo})|">수정</button>
                        <button type="button" th:onclick="|studyReplyRemove(${studyReplyList.replyNo})|">삭제</button>
                    </li>
                    </li>
                </ul>
            </div>

            <div class=" reply-header">
                <span th:text="${studyDetail.writer.nickname}"/>님 리플을 남겨보세요!
            </div>

            <form id="studyReplyFrom">
                <textarea id="replyContent" style="width: 100%;">댓글입력</textarea>
            </form>
            <div>
                <button class="btn" id="registReply" type="button" form="studyReplyFrom">
                    작성
                </button>
            </div>
        </div>


        </div>
    </section>
</main>

<!-- Modal -->
<div class="modal fade" id="studyModify" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2>배움을 함께할 사람을 찾아보세요~</h2>
            </div>

            <div class="modal-body shadow-lg">
                <form id="detailModifyForm">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 shadow-sm mb-md-3">
                                <label class="w-100 fw-bold">모집 종료 날짜</label>
                                <div class="d-flex">
                                    <input th:value="${studyDetail.getEndDate()}" class="w-100" type="date"
                                           name="endDate">
                                </div>

                            </div>
                            <div class="col-md-6 shadow-sm mb-md-3">
                                <label class="w-100 fw-bold">최대 모집 인원</label>
                                <div class="d-flex">
                                    <input th:value="${studyDetail.getLimited()}" class="w-100" type="text"
                                           name="limited">
                                </div>

                            </div>
                            <div class="col-md-12 shadow-sm mb-md-3">
                                <label class="w-100 fw-bold">신청링크</label>
                                <div class="d-flex">
                                    <input th:value="${studyDetail.getLinked()}" class="w-100" type="text"
                                           name="linked">
                                </div>
                            </div>
                            <div class="col-md-12 shadow-sm mb-md-3">
                                <label class="w-100 fw-bold">제목</label>
                                <div class="d-flex">
                                    <input th:value="${studyDetail.getTitle()}" class="w-100" type="text" name="title">
                                </div>
                            </div>

                            <div class="col-md-12 shadow-sm mb-md-3">
                                <label class="fw-bold">#태그</label>
                                <ul class="d-flex flex-wrap" id="tag-list">
                                    <input class="tag-input" onkeydown="noSpaceTag(event)" type="text" id="tag"
                                           size="20"
                                           placeholder="#태그">
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-12 shadow-sm mb-md-3">
                            <label class="fw-bold w-100">내용
                                <textarea th:text="${studyDetail.getContent()}" class="w-100" type="text" name="content"
                                          style="height: 400px;"></textarea>
                            </label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-primary" data-bs-dismiss="modal" style="width: 200px;">취소
                </button>
                <button class="btn btn-outline-primary" type="button" onclick="modifySubmit()" form="detailModifyForm"
                        style="width: 200px;">수정
                </button>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script th:inline="javascript">

    function noSpaceTag(event) {

        if (event.keyCode == 32) {
            event.preventDefault();
        }
    }


    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
        }
        ;
    }, true);

    function btn() {


        const tagList = {};

        let counter = 0;

        // 태그를 추가한다.
        // function addTag(value) {
        //     tagList[counter] = value; // 태그를 Object 안에 추가
        //     counter++; // counter 증가 삭제를 위한 del-btn 의 고유 id 가 된다.
        // }

        let tagValue = [];

        /*[# th:each="n : ${studyByTagList}"]*/
        tagValue.push("[(${n.getTag().getTagName()})]");
        /*[/]*/

        console.log(tagValue);
        console.log(tagValue.length);
        for (let i = 0; i < tagValue.length; i++) {

            $("#tag-list")
                .prepend("<li class='tag-item d-flex' id='tag-id'>" + "#" + tagValue[i] + "<span class='del-btn' idx='" + counter + "'><i class=\"bi bi-x\"></i></span> </li>");
            console.log(i + "번째 값 : " + tagValue[i]);
        }

    }

    function modifySubmit() {
        const studyNo = "[(${studyDetail.getStudyNo()})]";
        const title = $('input[name=title]').val();
        const content = $('textarea[name=content]').val();
        const startDate = "[(${studyDetail.getStartDate()})]";
        const endDate = $('input[name=endDate]').val();
        const limited = $('input[name=limited]').val();
        const count = "[(${studyDetail.getCount()})]";
        const linked = $('input[name=linked]').val();
        const inputTag = $("#tag-list li");
        const recruitStatus = "[(${studyDetail.getRecruitStatus()})]";
        const postStatus = "[(${studyDetail.getPostStatus()})]";

        $.post({
            url: "/study/modify",
            type: "post",
            data: {
                "studyNo": studyNo,
                "title": title,
                "content": content,
                "startDate": startDate,
                "endDate": endDate,
                "limited": limited,
                "count": count,
                "linked": linked,
                "inputTag": inputTag.text(),
                "recruitStatus": recruitStatus,
                "postStatus": postStatus
            },
            success: function () {
                location.href = "/study/list";

                alert("모집글이 수정되었습니다.");
            },
        });
    };


    //   스터디 댓글 작성

    if (document.getElementById("registReply")) {

        const $registReply = document.getElementById("registReply");

        $registReply.onclick = function () {
            let studyNo = document.getElementById("studyNo").value;
            let replyContent = document.getElementById("replyContent").value;

            if (replyContent.trim() == "") {
                alert("휴먼 댓글을 먼저 입력하세요!!")
            } else {
                $.ajax({
                    url: "/study/replyRegist",
                    type: "post",
                    data: {"replyContent": replyContent, "studyNo": studyNo},
                    success: function (data) {

                        const registReplyContent = data.replyContent;
                        const registReplyWriter = data.writer.nickname;

                        $("#registReplyList").append(
                            "<ul class='d-flex'>" +
                            "<input type='hidden' value="+ data.replyNo+ ">" +
                            "<input type='hidden' value=" + data.writer.replyWriteDate + ">" +
                            "<li>" + registReplyContent + "</li>"+
                            "<li>" + registReplyWriter + "</li>" +
                            "<li>" +
                            "<button class='btn' onclick='studyReplyRemove(" + data.replyNo + ")'> 삭제 </button>" +
                            "</li>" +
                            "</ul>");

                    }, error: function (data) {

                        alert("댓글작성이 실패라능");
                    }
                });
            }
        }
    }

    // 스터디 댓글 삭제
    function studyReplyRemove(replyNo) {
        let studyNo = $("#studyNo").val();
        alert(studyNo);
        $.ajax({
            url: "/study/replyRemove",
            type: "post",
            data: {studyNo: studyNo, replyNo: replyNo},
            success: function (data) {

            },
            error: function (data) {
            }

        });

    }
</script>

</body>
</html>