<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}|">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{../common/css/common.css}">
    <link rel="stylesheet" th:href="@{../hg/css/study.css}">

    <title>Title</title>
</head>
<body>
<div th:include="/common/topMenubar.html"></div>

<main style="min-height: 700px">
    <section class="container main-wrapper">
        <!-- 왼쪽 사이드메뉴 -->
        <div class="sidemenu-left">
            <button>뒤로가기</button>
        </div>
        <!-- 메인 컨텐츠 -->
        <div class="main-content">
            <!-- 모집글 상세보기 -->
            <div>
                <ul>
                    <input type="hidden" id="studyNo" th:value="${studyDetail.studyNo}">
                    <input type="hidden" id="endDate" th:value="${studyDetail.endDate}">
                    <input type="hidden" id="limited" th:value="${studyDetail.limited}">
                    <input type="hidden" id="linked" th:value="${studyDetail.linked}">

                    <li class="detail-item-title" id="title">
                        <div th:text="${ studyDetail.title}"/>
                    </li>
                    <li class="detail-writer-editbtn">
                        <div class="detail-item-nickanme" id="nickname" th:text="${ studyDetail.writer.getNickname()}"/>
                        <div class="detail-item-registDate" id="registDate" th:text="${studyDetail.startDate}"/>
                        <div class="detail-edit-btn">
                            <button type="button" class="btn" data-bs-toggle="modal"
                                    data-bs-target="#studyModifyModal" onclick="detailModifyButton()">
                                수정
                            </button>
                            <button class="btn"
                                    th:onclick="|location.href='@{/study/remove?no=}' + @{${studyDetail.studyNo}|">
                                삭제
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="detail-item-content" id="content" th:text="${ studyDetail.content}"/>
                    </li>
                    <li class="detail-item-tags">


                        <div th:each="studyTag:${studyByTagList}"
                             th:if="${studyTag.study.studyNo} == ${studyDetail.getStudyNo()}">
                            <div name="detailTag" th:text="'#' + ${studyTag.tag.tagName}"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- 모집글 댓글목록 -->
            <div class="card" th:each="studyReply:${studyReplyList}">
                <div class="card-header d-flex w-100">
                    <div>
                        <div th:text="${studyReply.writer.nickname}" style="margin-bottom: 20px"></div>
                        <div th:text="${studyReply.replyWriteDate}"></div>
                    </div>
                    <div class="detaile-replay-edit-button">
                        <div th:if="${#authentication.principal.nickname.toString()} eq ${studyReply.writer.nickname.toString()}">
                            <button class="btn" onclick="detailModifyButton()">수정</button>
                            <button class="btn">삭재</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div th:text="${studyReply.replyContent}"/>
                </div>
            </div>

            <!-- 댓글 작성 -->
            <div class="card mt-md-5 ">
                <div class="card-header p-md-3">
                    <div sec:authentication="principal.nickname"></div>
                </div>
                <div class="card-body p-0">
                    <textarea class="reply-content" placeholder="댓글 입력.. ㅎ ㅐ  주 ㅓ."></textarea>
                </div>
            </div>

        </div>
        </div>
        <!-- 오른쪽 사이드메뉴-->
        <div class="sidebar-right">
            <button>신청하기</button>
        </div>
    </section>
</main>


<!-- Modal -->
<div class="modal fade" id="studyModifyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyStudyTitle">모집글 머시꺵이</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/study/modify" method="post" id="detailModifyForm">
                    <input type="hidden" id="detailModifyStudyNo" name="studyNo" th:value="${studyDetail.studyNo}">
                    <input type="hidden" id="modifyTagList" name="modifyTagList" value="">

                    <div class="detail-modify-item-row">
                        <div>
                            <div>모집마감일</div>
                            <input class="detail-modify-item" id="detailModifyEndDate" name="endDate" type="date"
                                   value="">
                        </div>
                        <div>
                            <div>모집인원</div>
                            <input class="detail-modify-item" id="detailModifyLimited" name="limited" type="text"
                                   value="">
                        </div>
                    </div>
                    <div>Link
                        <input class="detail-modify-item" id="detailModifyLinked" name="linked" type="text">
                    </div>
                    <div>#태그
                        <ul class="modify-item-tags" id="tagList">
                            <input class="detail-modify-item" id="detailModifyTagInput" name="tageList" type="text"
                                   placeholder="#태그">
                        </ul>
                    </div>
                    <div>제목
                        <input class="detail-modify-item" id="detaileModifyTitle" name="title" type="text"></div>
                    <div>
                        <textarea class="detail-modify-item-content" id="detailModifyContent" name="content"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="submit" class="btn btn-primary" form="detailModifyForm">수정</button>
            </div>
        </div>
    </div>
</div>

<div th:include="/common/footer.html"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    function noSpaceTag(event) {

        if (event.keyCode == 32) {
            event.preventDefault();
        }
    }

    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
        }
        ;
    }, true);


    /* 상세페이지 수정 눌렀을때 이전 값 조회 */
    function detailModifyButton() {

        const studyNo = document.getElementById("studyNo").value;
        const title = document.getElementById("title").innerText;
        const content = document.getElementById("content").innerText;
        const endDate = document.getElementById("endDate").value;
        const limited = document.getElementById("limited").value;
        const linked = document.getElementById("linked").value;
        let taglist = [];

        console.log(taglist = $("div[name=detailTag]").text());
        console.log(taglist = $("div[name=detailTag]").text().substring(1).trim().split("#"));

        document.getElementById("detailModifyStudyNo").value = studyNo;
        document.getElementById("detailModifyEndDate").value = endDate;
        document.getElementById("detailModifyLimited").value = limited;
        document.getElementById("detailModifyLinked").value = linked;

        let div = document.createElement("div");

        for (let i = 0; i < taglist.length; i++) {
            $("#tagList").prepend("<li class='tag-item'>" + "<div name='addItem'>" + taglist[i] + "<span class='del-btn'><i class='bi bi-x'></i> </span>" + "</div>" + "</li>");
        }

        document.getElementById("detaileModifyTitle").value = title;
        document.getElementById("detailModifyContent").value = content;
    }


    /* 상세페이지 모집글 수정 - 태그 */
    $(document).ready(function () {

        const tagList = {};
        let counter = 0;

        function addTag(value) {
            tagList[counter] = value; // 태그를 Object 안에 추가
            counter++; // counter 증가 삭제를 위한 del-btn 의 고유 id 가 된다.
        }

        $("#detailModifyTagInput")
            .on("keyup", function (e) {
                const self = $(this);
                console.log("keypress");
                console.log(self.val());


                // input 에 focus 되있을 때 엔터 및 스페이스바 입력시 구동
                if (e.key === "Enter") {
                    const tagValue = self.val();

                    const addTagItem = ("<li class='tag-item'>" + "<div name='addItem'>" + tagValue + "<span class='del-btn'><i class='bi bi-x'></i> </span>" + "</div>" + "</li>");

                    $("#detailModifyTagInput").before(addTagItem);

                    $("#detailModifyTagInput").val("");

                    addTag(tagValue);

                    let modifyTagArray = [];

                    $("div[name=addItem]").each(function () {

                        modifyTagArray.push(($(this).text()));

                        console.log(modifyTagArray)

                        $("#modifyTagList").val(modifyTagArray);
                    });

                    self.val("");

                }

            });
        $(document)
            .on("click", ".del-btn", function () {
                $(this).closest("li").remove();
            });
    })
    ;


    /*스터디 댓글 작성*/
    if (document.getElementById("registReply")) {

        const $registReply = document.getElementById("registReply");

        $registReply.onclick = function () {
            let studyNo = document.getElementById("studyNo").value;
            let replyContent = document.getElementById("replyContent").value;

            if (replyContent.trim() == "") {
                alert("휴먼 댓글을 먼저 입력하세요!!")
            } else {
                $.ajax({
                    url: "/study/replyRegist",
                    type: "post",
                    data: {"replyContent": replyContent, "studyNo": studyNo},
                    success: function (data) {

                        const registReplyContent = data.replyContent;
                        const registReplyWriter = data.writer.nickname;

                        $("#registReplyList").append(
                            "<ul class='d-flex'>" +
                            "<input type='hidden' value=" + data.replyNo + ">" +
                            "<input type='hidden' value=" + data.writer.replyWriteDate + ">" +
                            "<li>" + registReplyContent + "</li>" +
                            "<li>" + registReplyWriter + "</li>" +
                            "<li>" +
                            "<button class='btn' onclick='studyReplyRemove(" + data.replyNo + ")'> 삭제 </button>" +
                            "</li>" +
                            "</ul>");

                    }, error: function (data) {

                        alert("댓글작성이 실패라능");
                    }
                });
            }
        }
    }

    // 스터디 댓글 삭제
    function studyReplyRemove(replyNo) {
        let studyNo = $("#studyNo").val();
        $.ajax({
            url: "/study/replyRemove",
            type: "post",
            data: {studyNo: studyNo, replyNo: replyNo},
            success: function (data) {

            },
            error: function (data) {
            }

        });

    }
</script>

</body>
</html>