<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/hg/css/study.css}">


    <title>Title</title>
</head>
<body>
<div th:include="/common/topMenubar.html"></div>

<!-- 스터디 헤더 -->
<section class="study-header bg-dark">
    <div class="study-header py-4 fs-5 fw-bold text-light">
        <h2 class="header-title">함께 배우고 성장할 사람들을 찾아보세요!</h2>
        <p class="header-sub-title pt-3">공부할 파티 찾아요~</p>
    </div>
</section>

<!-- 스터디 카테고리 탭 -->
<section>
    <div class="container my-lg-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button class="nav-link show active" data-bs-toggle="tab" data-bs-target="#entire">전체</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#recruit">모집중</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#end-recruit">모집종료</button>
            </li>
        </ul>
    </div>
    <!-- 스터디 검색 -->
    <div class="flex-lg-column">
        <div class="container d-flex mb-lg-5">
            <div class="w-75">
                <form class="flex-lg-column p-lg-2" action="/study/list" method="get" id="searchInput">
                    <div class="d-flex mb-lg-3">
                        <input class="w-100" type="text" name="searchCondition" placeholder="검색내용을 입력하세요">
                        <div>
                            <button class="btn btn-outline-success mx-lg-3" style="width: 150px">검색</button>
                        </div>
                    </div>
                    <div class="d-flex">
                        <input class="w-100" type="text" name="searchTag" placeholder="#태그를 입력하세요">
                        <div>
                            <button class="btn btn-outline-success mx-lg-3" style="width: 150px">
                                <i class="bi bi-arrow-repeat"></i> 초기화
                            </button>
                        </div>
                    </div>
                </form>


                <!-- 목록 정렬 탭 -->
                <div class="container my-lg-3">
                    <div class="d-flex">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <button class="nav-link show active" data-bs-toggle="tab" data-bs-target="#entire">최신순
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#recruit">댓글순</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#end-recruit">조회순</button>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-outline-danger ms-lg-auto" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                            글쓰기
                        </button>
                    </div>

                    <!-- 모집글 -->
                    <div id="detailList">
                        <ul class="my-md-5" th:each="study :${studyList}">
                            <li style="display: none" th:text="${study.getStudyNo()}"></li>
                            <li class="d-flex">
                                <div class="d-flex me-md-3" th:if="${study.getRecruitStatus()} == 'Y'">
                                    <span class="study-status" th:text="모집중"/>
                                </div>
                                <div th:if="${study.getRecruitStatus()} == 'N'">
                                    <span class="study-status" th:text="모집종료"/>
                                </div>
                                <span class="study-title" th:text="${study.getTitle()}"></span>
                            </li>
                            <li class="my-md-2">
                                <span class="study-content" th:text="${study.getContent()}"></span>
                            </li>
                            <li class="d-flex">
                                <div class="ms-md-2 my-md-3" th:each="studyTagList : ${studyTagList}"
                                     th:if="${studyTagList.getStudy().getStudyNo()}== ${study.getStudyNo()}">
                                    <span class="study-tag" th:text="${studyTagList.getTag().getTagName()}"></span>
                                </div>
                            </li>
                            <li class="mt-md-3">
                                <span class="fw-bold me-md-3" th:text="${study.getWriter().getNickname()}"></span>
                                <span th:text="${study.startDate}"></span>
                            </li>
                            <hr>
                        </ul>
                    </div>

                </div>
            </div>

            <!-- 사이드 태그박스 -->
            <div class="w-25 p-lg-4 pos-relative">

                <div class="card text-dark bg-light mb-3" style="max-width: 15rem;">
                    <div class="card-header">인기태그 목록</div>
                    <div class="card-body">
                        <ul class="side-tag-box">
                            <li><a href="#">#java</a></li>
                            <li><a href="#">#oracle</a></li>
                            <li><a href="#">#javascript</a></li>
                            <li><a href="#">#swing</a></li>
                            <li><a href="#">#spring</a></li>
                            <li><a href="#">#css</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2>배움을 함께할 사람을 찾아보세요~</h2>
            </div>

            <div class="modal-body shadow-lg">
                <form action="/study/regist" method="post" id="studyRegistForm">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 shadow-sm mb-md-3">
                                <label class="w-100 fw-bold">모집 종료 날짜</label>
                                <div class="d-flex">
                                    <input class="tag-input w-100" type="date" name="endDate">
                                </div>

                            </div>
                            <div class="col-md-6 shadow-sm mb-md-3">
                                <label class="w-100 fw-bold">최대 모집 인원</label>
                                <div class="d-flex">
                                    <input class="tag-input w-100" type="text" name="limited">
                                </div>

                            </div>
                            <div class="col-md-12 shadow-sm mb-md-3">
                                <label class="w-100 fw-bold">신청링크</label>
                                <div class="d-flex">
                                    <input class="tag-input w-100" type="text" name="linked">
                                </div>
                            </div>
                            <div class="col-md-12 shadow-sm mb-md-3">
                                <label class="w-100 fw-bold">제목</label>
                                <div class="d-flex">
                                    <input class="tag-input w-100" type="text" name="title">
                                </div>
                            </div>

                            <div class="col-md-12 shadow-sm mb-md-3">
                                <label class="fw-bold">#태그</label>
                                <ul class="d-flex flex-wrap" id="tag-list">
                                    <input class="tag-input w-100" onkeydown="noSpaceTag(event)" type="text" id="tag"
                                           size="20"
                                           placeholder="#태그">
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-12 shadow-sm mb-md-3">
                            <label class="fw-bold w-100">내용
                                <textarea class="w-100" type="text" name="content" style="height: 400px;"></textarea>
                            </label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" style="width: 200px;">취소
                </button>
                <button type="button" class="btn btn-outline-primary" form="studyRegistForm" style="width: 200px;"
                        onclick="registSubmit()">작성
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>
    <!-- 스터디 디테일 조회요청-->
    if (document.querySelectorAll("#detailList ul")) {
        const $tds = document.querySelectorAll("#detailList ul");
        for (let i = 0; i < $tds.length; i++) {

            $tds[i].onclick = function () {
                const no = this.parentNode.children[i].children[0].textContent.trim();

                location.href = "/study/detail?no=" + no;
            }
        }
    }


    function noSpaceTag(event) {

        if (event.keyCode == 32) {
            event.preventDefault();
        }
    }

    $(document).ready(function () {

        const tagList = {};
        let counter = 0;

        // 태그를 추가한다.
        function addTag(value) {
            tagList[counter] = value; // 태그를 Object 안에 추가
            counter++; // counter 증가 삭제를 위한 del-btn 의 고유 id 가 된다.
        }

        // 최종적으로 서버에 넘길때 tag 안에 있는 값을 array type 으로 만들어서 넘긴다.
        function marginTag() {
            return Object.values(tagList)
                .filter(function (word) {
                    return word !== "";
                });
        }

        $("#tag")
            .on("keyup", function (e) {
                    const self = $(this);
                    console.log("keypress");


                    // input 에 focus 되있을 때 엔터 및 스페이스바 입력시 구동
                    if (e.key === "Enter") {

                        const tagValue = self.val(); // 값 가져오기

                        // 값이 없으면 동작 안합니다.
                        if (tagValue !== "" || tagValue != null) {

                            // 같은 태그가 있는지 검사한다. 있다면 해당값이 array 로 return 된다.
                            const result = Object.values(tag)
                                .filter(function (word) {
                                    return word === tagValue;
                                })

                            // 태그 중복 검사
                            if (result.length == 0) {
                                $("#tag-list")
                                    .prepend("<li class='tag-item d-flex' id='tag-id'>" + "#" + tagValue + "<span class='del-btn' idx='" + counter + "'><i class=\"bi bi-x\"></i></span> </li>");

                                addTag(tagValue);
                                self.val("");
                            } else {
                                alert("태그값이 중복됩니다.");
                            }
                        }
                        e.preventDefault(); // SpaceBar 시 빈공간이 생기지 않도록 방지
                    }
                }
            )
        ;

        // 삭제 버튼
        // 삭제 버튼은 비동기적 생성이므로 document 최초 생성시가 아닌 검색을 통해 이벤트를 구현시킨다.
        $(document)
            .on("click", ".del-btn", function (e) {
                const index = $(this)
                    .attr("idx");
                tag[index] = "";
                $(this)
                    .parent()
                    .remove();
            });
    })

    const successMessage = "[[${ registSuccessMessage }]]";
    successMessage && alert(successMessage);

    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
        }
        ;
    }, true);

    function registSubmit() {

        const title = $('input[name=title]').val();
        const endDate = $('input[name=endDate]').val();
        const limited = $('input[name=limited]').val();
        const linked = $('input[name=linked]').val();
        const content = $('textarea[name=content]').val();
        const inputTag = $("#tag-list li");

        $.post({
            url: "/study/regist",
            type: "POST",
            data: {
                "title": title,
                "endDate": endDate,
                "limited": limited,
                "linked": linked,
                "content": content,
                "inputTag": inputTag.text()
            },
            success: function () {
                location.href = "/study/list";
                alert("모집글이 작성되었습니다.");
            },
        });
    };

</script>

</body>
</html>