<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Rottutee</title>
    <script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.3.min.js" type="application/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/sj/common.css">

    <script>
        const message = "[[${message}]]"
        message && alert(message);
    </script>

    <style>
        .modal-body{
            background-color: #f0f0f0;
            text-align: left;
            width: 100%;
            height: 600px;
            display: inline-block;
            overflow-y: scroll;
        }
        .modal-body-coupon{
            background: white;
            cursor:pointer;
            margin-top: 30px;
            margin-left: 30px;
            width: 200px;
            height: 250px;
            border: 2px solid;
            border-radius: 10px;
            display:inline-block;
            text-align: center;

        }
        .modal-body-coupon-click{
            background: grey;
            cursor:pointer;
            margin-top: 30px;
            margin-left: 30px;
            width: 200px;
            height: 250px;
            border: 2px solid;
            border-radius: 10px;
            display:inline-block;
            text-align: center;
        }
        .modal-body-coupon:hover{
            background: #6c757d;
        }

        .modal-coupon-hr{
            border-style: dotted;
            margin-left: 5px;
            margin-right: 5px;
        }

        .modal-img{
            width: 80%;
            height: 45%;
            margin-top: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .close {
            display:inline-block;
            *display:inline;
            cursor: pointer;
        }
        .close:after {
            cursor: pointer;
            display: inline-block;
            content: "\00d7";
            font-size:15pt;}

    </style>
</head>
<body>
<div th:include="common/mypagemenubar.html"></div>

<main>
    <div class="container">
        <div class="row">
            <p style="margin-top: 30px; font-size: x-large;">수강 바구니</p>
            <br>
            <div class="col-8">
                <div style="margin-left: 1px; width: 1620px">
                    <div class="col-4" style="background-color: #e4e6e9">
                        <p style="font-size: large;">강의 정보</p>
                    </div>
                </div>
                <br>
                <div class="card mb-3" style="max-width: 540px;" th:each="cart : ${cartList}">
                    <div>
                        <p style="margin-left: 20px; margin-top: 5px; margin-bottom: 5px;width: 50%"># 쿠폰 : </p>
                        <p id="couponName" th:attrappend="id=${ cart.lecture.lectureNo }" style="width: 100px"></p>
                        <div class="close close1"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col-md-1">
                            <input class="form-check-input" name="checkbox" type="checkbox" onclick="oneCheckbox(this)"style="margin-left: 15px; margin-top: 55px;">
                            <input type="hidden" class="lectureNo" th:value="${cart.lecture.lectureNo}">
                            <input type="hidden" class="ChecklectureName" th:value="${cart.lecture.lectureName}">
                        </div>
                        <div class="col-md-4">
                            <th:block th:if="${cart.lecture.imageList.size() > 0}">
                                <img th:src="@{/images/thumbnail/} + ${cart.lecture.imageList[0].saveAttachedFileName}" class="img-fluid rounded-start" alt="..." style="height: 143px;">
                            </th:block>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <input type="hidden" class="basketNo" th:value="${cart.classBasketNo}">
                                <input type="hidden" class="lectureNo" th:value="${cart.lecture.lectureNo}">
                                <input type="hidden" id="lecturePriceValue" th:attrappend="id=${ cart.lecture.lectureNo }" th:value="${cart.lecture.lecturePrice}" >
                                <input type="hidden" class="lectureName" th:value="${cart.lecture.lectureName}">

                                <h5 class="card-title" th:text="${cart.lecture.lectureName}"></h5>
                                <p class="card-text" ><small class="text-muted" th:text="${cart.lecture.tutor.name}"></small></p>
                                <p id="lecturePrice" th:attrappend="id=${ cart.lecture.lectureNo }"  class="lecturePrice" th:text="${cart.lecture.lecturePrice}"></p>
                                <button class="btn btn-outline-secondary btn-sm couponBtn"  th:value="${cart.lecture.lectureNo}" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="float: right; margin-bottom: 10px">쿠폰함</button>
                                <button class="btn btn-outline-secondary btn-sm remove" style="float: right; margin-bottom: 10px">삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div style="width: 300px; height: 500px; text-align: center; border: 1px solid black;">
                    <div style="margin: 20px">
                        <input type="hidden" id="paymentAmountValue">
                        <span style="margin-top:10px;">결제금액 </span> <p id="paymentAmount" th:text="${0}" > </p>
                        <br>
                        <input type="hidden" id="paymentDiscountValue">
                        <span style="margin-left:10px;">할인금액 </span> <p id="paymentDiscount" th:text="${0}"> </p>
                    </div>
                    <br>
                    <div>
                        <input type="hidden" id ="totalAmountValue">
                        <p>최종 결제 금액</p>
                        <p id="totalAmount" th:text="${0}"></p>
                    </div>
                    <br>
                    <div>
                        <input id ="check" class="form-check-input" type="checkbox"><span>구매 조건 및 개인정보 수집 및 이용에 대한 안내에 동의합니다.(필수)</span>
                        <button id="paymentBtn">결제하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">쿠폰함</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modalBody" class="modal-body" >
                    <div class="modal-body-coupon" th:each="coupons : ${coupons}" th:value="${ coupons.coupon.couponNo }">
                        <img class='modal-img' th:src="@{/common/image/coupon.png}">
                        <hr class='modal-coupon-hr'>
                        <input id="couponNo"  type="hidden" th:attrappend="id=${ coupons.coupon.couponNo }" />
                        <p id="couponNamValue" th:attrappend="id=${ coupons.coupon.couponNo }" th:text="'['+${coupons.coupon.couponName}+ ']'"></p>
                        <p id="couponExpirationDate" th:attrappend="id=${ coupons.coupon.couponNo }" th:text="'D - ' + ${coupons.coupon.couponExpirationDate}"></p>
                        <p id="couponDiscountRate" th:attrappend="id=${ coupons.coupon.couponNo }" th:text="${coupons.coupon.couponDiscountRate}+'% 할인'"></p>

                        <input id="couponNoinput"  th:attrappend="id=${ coupons.coupon.couponNo }" type="hidden"  th:value="${coupons.coupon.couponNo}">
                        <input id="couponNameinput" th:attrappend="id=${ coupons.coupon.couponNo }" type="hidden"  th:value="${coupons.coupon.couponName}">
                        <input id="couponExpirationDateinput" th:attrappend="id=${ coupons.coupon.couponNo }" type="hidden"  th:value="${coupons.coupon.couponExpirationDate}">
                        <input id="couponDiscountRateinput" th:attrappend="id=${ coupons.coupon.couponNo }" type="hidden"  th:value="${coupons.coupon.couponDiscountRate}">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-cancel-btn" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary modal-ok-btn" data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(".remove").click(function() {
        let lectureNo = $(".lectureNo").val();
        console.log(lectureNo);
        location.href = "/basket/remove/" + lectureNo;
    })
</script>

<script>
    let lectureNo;
    let $selectCoupon ;
    let $selectCouponName;
    let $discountRate;
    let couponNo;

    //쿠폰 체크박스 클릭 시
    function oneCheckbox(checked){

        let obj = document.getElementsByName("checkbox");
        let lectureNo =$(checked).siblings(".lectureNo").val();

        checklectureName = $(checked).siblings('.ChecklectureName').val();
        console.log(" lectureNo + " + checklectureName);

        for(var i=0; i<obj.length; i++){
            if(obj[i] != checked){
                obj[i].checked = false;
            }
        }

        $("#paymentDiscountValue").val(0);
        $("#paymentDiscount").text("0");

        $("#paymentAmountValue").val($("#lecturePriceValue"+lectureNo).val());
        $("#paymentAmount").text($("#lecturePriceValue"+lectureNo).val());

        $("#totalAmountValue").val($("#lecturePriceValue"+lectureNo).val());
        $("#totalAmount").text($("#lecturePriceValue"+lectureNo).val());
    }

    //쿠폰 클릭
    $(".modal-body-coupon").click(function () {
        $selectCoupon = $(this);
        $selectCouponName = $("#couponNameinput"+ $selectCoupon.attr("value"));
    });

    //쿠폰 취소 버튼 클릭 시
    $(".close1").click(function (){
        $("#couponName" + lectureNo).text("");
        $selectCoupon.show();
        $("#paymentDiscount").text(0);
        $("#paymentDiscountValue").val(0);
        console.log("close" + $("#couponNameValue" + lectureNo).val());
    })

    //쿠폰함 버튼 클릭 시
    $(".couponBtn").click(function () {
        lectureNo = $(this).attr('value');
    });

    //쿠폰 적용 확인 버튼
    $(".modal-ok-btn").click(function () {
        $('#staticBackdrop').modal('show');
        if ($selectCoupon != null) {

            $selectCoupon.hide();
            couponNo = $selectCoupon.attr("value");
            console.log("$selectCouponName "+ $selectCouponName);

            $(this).attr

            $("#couponName" + lectureNo).text($selectCouponName);
            $discountRate = ($("#lecturePriceValue" + lectureNo).val() * $("#couponDiscountRateinput" + couponNo).val() / 100);

            let totalPrice = ($("#lecturePriceValue" + lectureNo).val() - $discountRate);
            $("#lecturePrice" + lectureNo).text(totalPrice);

            $("#paymentDiscount").text($discountRate);
            $("#paymentDiscountValue").val($discountRate);

            $("#totalAmount").text($("#totalAmountValue").val());
            $("#totalAmountValue").val($("#lecturePriceValue" + lectureNo).val() - $("#paymentDiscountValue").val());
        }
    });



    /* $(document).ready(function () {
         $.ajax({
             url: "/basket/coupon/list",
             type: "GET",
             data: {},
             success: function (data, status, xhr) {
                 console.table(data);

                 $modalBody = $("#modalBody");
                 $modalBody.html("");

                 for (var index in data) {
                     console.log(data[index]);
                     $div = $("<div class='modal-body-coupon' value=data[index].coupon.couponNo>")
                     $image = $("<img class='modal-img' src='../static/common/image/rotutee.png'>");
                     $hr = $("<hr class='modal-coupon-hr'>");
                     $pTitle = $("<p>").text("[ " + data[index].coupon.couponName + " ]");
                     $pDay = $("<p>").text("D - " + data[index].coupon.couponExpirationDate);
                     $pDiscount = $("<p id='couponRate' th:attrappend='id=${ data[index].coupon.couponNo }'>").text(data[index].coupon.couponDiscountRate + "% 할인");
                     $couponNo = $("<input id='couponNoValue'>").val(data[index].coupon.couponNo);
                     $couponDiscountRate = $("<input id='couponDiscountRateValue' th:attrappend='id=${ data[index].coupon.couponNo } type='text'>").val(data[index].coupon.couponDiscountRate);
                     $couponName = $("<input id='couponNameValue' th:attrappend='id=${ data[index].coupon.couponNo }' type='text'>").val(data[index].coupon.couponName);

                     $div.append($image);
                     $div.append($hr);
                     $div.append($pTitle);
                     $div.append($pDay);
                     $div.append($pDiscount);
                     $div.append($couponNo);
                     $div.append($couponName);
                     $div.append($couponDiscountRate);
                     $modalBody.append($div);
                 }
             }
         });
     });*/

</script>

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->

<script th:inline="javascript">
    $(document).ready(function() {
        $("#paymentBtn").click(function () {
                if ($("#check").is(":checked")) {
                    BootPay.request({
                        price: $("#totalAmountValue").val(),
                        application_id: "627c50842701800020f69e42",
                        name: checklectureName, //결제창에서 보여질 이름
                        pg: 'kcp',
                        method: 'card', //결제수단, 입력하지 않으면 결제수단 선택부터 화면이 시작합니다.
                        show_agree_window: 0, // 부트페이 정보 동의 창 보이기 여부
                        items: [
                            {
                                item_name: '나는 아이템', //상품명
                                qty: 1, //수량
                                unique: '1', //해당 상품을 구분짓는 primary key
                                price: $("#totalAmountValue").val(), //상품 단가

                            }
                        ],
                        order_id: 'id_1234', //고유 주문번호로, 생성하신 값을 보내주셔야 합니다.
                        params: {callback1: '그대로 콜백받을 변수 1', callback2: '그대로 콜백받을 변수 2', customvar1234: '변수명도 마음대로'},
                    }).error(function (data) {
                        //결제 진행시 에러가 발생하면 수행됩니다.
                        console.log(data);
                        alert("error");

                    }).cancel(function (data) {
                        window.location.replace("/basket/list");
                        console.log(data);
                    })/*.ready(function (data) {
                        // 가상계좌 입금 계좌번호가 발급되면 호출되는 함수입니다.
                        console.log(data);
                    }).confirm(function (data) {
                        //결제가 실행되기 전에 수행되며, 주로 재고를 확인하는 로직이 들어갑니다.
                        //주의 - 카드 수기결제일 경우 이 부분이 실행되지 않습니다.
                        console.log(data);
                        var enable = true; // 재고 수량 관리 로직 혹은 다른 처리
                        if (enable) {
                            BootPay.transactionConfirm(data); // 조건이 맞으면 승인 처리를 한다.
                        } else {
                            BootPay.removePaymentWindow();
                            // 조건이 맞지 않으면 결제 창을 닫고 결제를 승인하지 않는다.
                            alert(" 결제 오류 " + data);

                        }
                    })*/
                        .close(function (data) {
                    }).done(function (data) {
                        alert("DONE 결제가 완료 되었습니다.");

                        let lectureNo = $(".lectureNo").val();
                        let couponNoinput = couponNo;
                        console.log("쿠폰 번호 : " + couponNo);
                        console.log("들어갈 쿠폰 번호 : " + couponNoinput);
                        const params = {"lectureNo": lectureNo, "couponNoinput": couponNoinput};
                        console.log(params);
                        from_url("/basket/lectureSuccess", params, 'POST');
                    });
                } else {
                    alert("개인정보 수집에 동의하셔야 합니다.");
                }
            });
         });
</script>

<script type="text/javascript">
    function from_url(path, params, method) {

        const form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);
        for (let key in params) {
            let hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            console.log("key" + key);
            console.log("param" + params[key]);

            form.appendChild(hiddenField);
        }
        document.body.appendChild(form);
        form.submit();
    }
</script>

</body>
</html>