<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/sj/common.css">

    <script>
        const message = "[[${message}]]"
        message && alert(message);
    </script>

    <style>
        .modal-body{
            background-color: #f0f0f0;
            text-align: center;
            width: 100%;
            height: 600px;
            display: inline-block;
        }
        .modal-body-coupon{
            background: white;
            margin-top: 30px;
            margin-left: 30px;
            width: 200px;
            height: 250px;
            border: 2px solid;
            border-radius: 10px;
        }
        .modal-body-coupon:hover{
            color: #9e9b9b;
        }

        .modal-coupon-hr{
            border-style: dotted;
            margin-left: 5px;
            margin-right: 5px;
        }

        .modal-img{
            width: 90%;
            height: 45%;
            margin-top: 10px;
        }

        .close {
            display:inline-block;
            *display:inline;
        }

        .close:after {
            display: inline-block;
            content: "\00d7";
            font-size:15pt;
        }

    </style>
</head>
<body>
<div th:include="common/mypagemenubar.html"></div>

<main>
    <div class="container">
        <div class="row">
            <p style="margin-top: 30px; font-size: x-large;">수강 바구니</p>
            <br>
            <div class="col-8">
                <div style="margin-left: 1px; width: 1620px">
                    <div class="col-4" style="background-color: #e4e6e9">
                        <p style="font-size: large;">강의 정보</p>
                    </div>
                </div>
                <br>
                <div class="card mb-3" style="max-width: 540px;" th:each="cart : ${cartList}">
                    <div>
                        <p># 쿠폰 : </p>
                        <p class="coupon-title"> </p>
                    </div>
                    <div class="row g-0">
                         <div class="col-md-1">
                             <input class="form-check-input" type="checkbox" style="margin-left: 15px; margin-top: 55px;">
                         </div>
                         <div class="col-md-4">
                             <th:block th:if="${cart.lecture.imageList.size() > 0}">
                                <img th:src="@{/images/thumbnail/} + ${cart.lecture.imageList[0].saveAttachedFileName}" class="img-fluid rounded-start" alt="..." style="height: 143px;">
                             </th:block>
                         </div>
                         <div class="col-md-7">
                             <div class="card-body">
                                 <input type="hidden" class="lectureNo" th:value="${cart.lecture.lectureNo}">
                                 <h5 class="card-title" th:text="${cart.lecture.lectureName}"></h5>
                                 <p class="card-text"><small class="text-muted" th:text="${cart.lecture.tutor.name}"></small></p>
                                 <p class="lecturePrice" th:text="'￦ ' + ${cart.lecture.lecturePrice}" style="text-decoration: line-through"></p>
                                 <p class="lectureDiscountPrice"th:text="'￦ ' + ${cart.lecture.lecturePrice - 100}"></p>
                                 <button class="btn btn-outline-secondary btn-sm couponBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="float: right; margin-bottom: 10px">쿠폰함</button>
                                 <button class="btn btn-outline-secondary btn-sm remove" style="float: right; margin-bottom: 10px">삭제</button>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="col-4">
                <div style="width: 300px; height: 500px; border: 1px solid black;">
                    <div>
                        <span>결제금액 : </span><span id="paymentAmount">50000</span>
                        <br>
                        <span>할인금액 : </span><span id="paymentDiscount">10000</span>
                    </div>
                    <br>
                    <div>
                        <p>최종 결제 금액</p>
                        <span id="totalAmount">40000</span>
                    </div>
                    <br>
                    <div>
                        <input class="form-check-input" type="checkbox"><span>구매 조건 및 개인정보 수집 및 이용에 대한 안내에 동의합니다.(필수)</span>
                        <button id="paymentBtn">결제하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">쿠폰함</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <!--<div class="modal-body-coupon">
                        <img class="modal-img" />
                        <hr class="modal-coupon-hr">
                        <p class="modal-coupon-title">[1주년 쿠폰]</p>
                        <p class="modal-coupon-Day">D - 3</p>
                        <p class="modal-coupon-discount"> 10% 할인 </p>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary">확인</button>
                </div>
            </div>
        </div>
    </div>





</main>
<script>
    $(".remove").click(function() {
        const lectureNo = $(this).siblings(".lectureNo").val();
        console.log(lectureNo);
        location.href = "/basket/remove/" + lectureNo;
    })

    $(".couponBtn").click(function (){
        $.ajax({
            url: "/coupon/list",
            type: "GET",
            data: {},
            success: function (data) {
                alert("쿠폰 조회 성공!");

                $("#modalBody").innerHTML="";
                console.log("@@@"+data);

                for (var index in data) {
                    $div = $("<div class='modal-body-coupon'>")
                    $image = $("<img class='modal-img'>");
                    $hr = $("<hr class='modal-coupon-hr'>");
                    $pTitle = $("<p>")
                    $pDay = $("<p>")
                    $pDiscount = $("<p>")

                    //$div.append("<input type='hidden' id=' + ${ data[index].no } + ' value=' + data[index].no + '>");
                    $div.append($image);
                    $div.append($hr);
                    $div.append($pTitle);
                    $div.append($pDay);
                    $div.append($pDiscount);
                }
            }, error:function(data){
                console.log(data);
                alert("쿠폰 애러ㅗ");
            }
        });

    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


<script>
    $("#paymentBtn").click(function () {
        BootPay.request({
            price: '1000', //실제 결제되는 가격
            application_id: "62552c9e2701800023f6991e",
            name: '블링블링 마스카라', //결제창에서 보여질 이름
            pg: '',
            method: '', //결제수단, 입력하지 않으면 결제수단 선택부터 화면이 시작합니다.
            show_agree_window: 0, // 부트페이 정보 동의 창 보이기 여부
            items: [
                {
                    item_name: '나는 아이템', //상품명
                    qty: 1, //수량
                    unique: '123', //해당 상품을 구분짓는 primary key
                    price: 1000, //상품 단가
                    cat1: 'TOP', // 대표 상품의 카테고리 상, 50글자 이내
                    cat2: '티셔츠', // 대표 상품의 카테고리 중, 50글자 이내
                    cat3: '라운드 티', // 대표상품의 카테고리 하, 50글자 이내
                }
            ],
            user_info: {
                username: '박수빈',
                email: 'subin164@naver.com',
                addr: '사용자 주소',
                phone: '010-1234-4567'
            },
            order_id: '고유order_id_1234', //고유 주문번호로, 생성하신 값을 보내주셔야 합니다.
            params: {callback1: '그대로 콜백받을 변수 1', callback2: '그대로 콜백받을 변수 2', customvar1234: '변수명도 마음대로'},
            account_expire_at: '2020-10-25', // 가상계좌 입금기간 제한 ( yyyy-mm-dd 포멧으로 입력해주세요. 가상계좌만 적용됩니다. )
            extra: {
                start_at: '2019-05-10', // 정기 결제 시작일 - 시작일을 지정하지 않으면 그 날 당일로부터 결제가 가능한 Billing key 지급
                end_at: '2022-05-10', // 정기결제 만료일 -  기간 없음 - 무제한
                vbank_result: 1, // 가상계좌 사용시 사용, 가상계좌 결과창을 볼지(1), 말지(0), 미설정시 봄(1)
                quota: '0,2,3', // 결제금액이 5만원 이상시 할부개월 허용범위를 설정할 수 있음, [0(일시불), 2개월, 3개월] 허용, 미설정시 12개월까지 허용,
                theme: 'purple', // [ red, purple(기본), custom ]
                custom_background: '#00a086', // [ theme가 custom 일 때 background 색상 지정 가능 ]
                custom_font_color: '#ffffff' // [ theme가 custom 일 때 font color 색상 지정 가능 ]
            }
        }).error(function (data) {
            //결제 진행시 에러가 발생하면 수행됩니다.
            console.log(data);
        }).cancel(function (data) {
            //결제가 취소되면 수행됩니다.
            console.log(data);
        }).ready(function (data) {
            // 가상계좌 입금 계좌번호가 발급되면 호출되는 함수입니다.
            console.log(data);
        }).confirm(function (data) {
            //결제가 실행되기 전에 수행되며, 주로 재고를 확인하는 로직이 들어갑니다.
            //주의 - 카드 수기결제일 경우 이 부분이 실행되지 않습니다.
            console.log(data);
            var enable = true; // 재고 수량 관리 로직 혹은 다른 처리
            if (enable) {
                BootPay.transactionConfirm(data); // 조건이 맞으면 승인 처리를 한다.
            } else {
                BootPay.removePaymentWindow(); // 조건이 맞지 않으면 결제 창을 닫고 결제를 승인하지 않는다.
            }
        }).close(function (data) {
            // 결제창이 닫힐때 수행됩니다. (성공,실패,취소에 상관없이 모두 수행됨)
            console.log(data);
        }).done(function (data) {
            //결제가 정상적으로 완료되면 수행됩니다
            //비즈니스 로직을 수행하기 전에 결제 유효성 검증을 하시길 추천합니다.
            console.log(data);
        });
    });

</script>

</body>
</html>