/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -- css 초기화 end -- */

.study-header * {
    margin-left: 2rem;
    font-weight: bold;
}

.study-recruit-status{
    align-self: center;
    text-align: center;
    margin-right: 1em;
    min-width : 60px;
    background-color: lightgreen;
    color: white;
    font-weight: bold;
}

.study-recruit-status-end{
    align-self: center;
    text-align: center;
    margin-right: 1rem;
    padding: 0.2rem;
    min-width : 60px;
    background-color: darkgreen;
    color: lightgray;
    font-weight: bold;
}

.study-recruit-title {
    font-weight: bold;
    font-size: 24px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.study-recruit-content{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    line-height: 1.2em;
    height: 2.4em;
}