.card-body{
    margin: auto;
}
.info1-area{
    border: 1px solid;
    width: 100%;
}
.info2-area{
    border: 1px solid;
    width: 100%;
}
.curriculum-area{
    border: 1px solid;
    width: 100%;
}
#title-input{
    margin-left: 30px;
    margin-top: 15px;
    height: 50px;
    width: 95%;
}
.category-buttons-1, .lecture-level{
    margin-left: 30px;
    margin-top: 20px
}
.category-buttons-2{
    margin-left: 30px;
    margin-top: 10px
}
#price-input{
    margin-left: 30px;
    margin-top: 20px;
    height: 40px;
    width: 30%;
}
.price-guide{
    margin-top: 20px;
    margin-left: 30px;
}
.price-guide > p{
    margin-top: 10px;
}
.thumbnail-guide{
    margin-top: 20px;
    margin-left: 30px;
}
.banner-guide{
    margin-top: 30px;
    margin-left: 30px;
}
.banner-guide > p {
    margin-top: 10px;
}
.thumbnail-upload-area{
    margin-top: 30px;
}
.banner-upload-area{
    margin-top: 30px;
}
.ck.ck-editor{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 94%;
}
.ck-editor__editable{
    min-height: 400px;
}
#chapter-plus{
    border: none;
    background-color: white;
    float:right;
    margin-right: 30px;
}
.chapter-area{
    border: 1px solid;
    margin-top: 50px;
    margin-left: 30px;
    width: 94%;
}
.chapter-name{
    margin-left: 5px;
    margin-top: 2px;
    border: none;
    width: 95%;
    height: 40px;
}
.lecture-plus{
    border: none;
    background-color: white;
    float:right;
    margin-right: 20px;
    margin-top: 20px;
}
.chapter-video{
    margin-top: 10px;
    margin-left: 30px;
    width: 94%;
}
.video-quiz{
    width: 95%;
    margin-top: 10px;
    margin-left: 30px;
}
.video-area{
    border: 1px solid;
    margin-top: 10;
}
.video{
    margin-top: 20px;
    margin-left: 10px;
}
.quiz-area{
    border: 1px solid;
    width: 95%;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 500px;
}
.quiz-title{
    margin-top: 50px;
    margin-left: 50px;
}
.quiztitle, .answer, .example1, .example2, .example3, .example4, .explain{
    margin-left: 20px;
    width: 500px;
}
.quiz-answer{
    margin-top: 30px;
    margin-left: 105px;
}
.example-list{
    margin-left: 92px;
}
#example1, #example2, #example3, #example4{
    margin-top: 30px;
}
.explaination{
    margin-top: 30px;
    margin-left: 105px;
}
.class-name-area{
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    width: 95%;
}
.class-name{
    margin-left: 5px;
    margin-top: 2px;
    border: none;
    width: 95%;
    height: 40px;
}