.lecture-price{
    background-color: #85a4d2;
}
.lecture-list-area{
    display: inline-block;
}
.lecture-price-box{
    margin-left:-15px;
    margin-top: -15px;
    position: absolute;
    width: 100px;
    background-color: #7DACE4;
    text-align: center;
    color: white;
    border: none;
}